<main class="legal bg-purple">

  <section class="section__principal">
    <div class="container">
      <div class="row">

        <div class="col-md-7 offset-md-3 col-lg-8 offset-lg-4 privacidad--title mb-60">
          <h2>{{ page.title }}</h2>
        </div>
        
        <aside class="col-md-3 col-lg-4">
          <ul class="list-unstyled nav-scroll">
            <li class="text-link active">Preguntas frecuentes</li>
            <li class="text-link"><a href="/pages/glosario">Glosario</a></li>
            <li class="text-link"><a href="/pages/pagos-envios">Pagos y envíos</a></li>
            <li class="text-link"><a href="/pages/aviso-privacidad">Aviso de Privacidad</a></li>
            <li class="text-link"><a href="/pages/politicas-compra">Políticas de compra</a></li>
          </ul>
        </aside>

        <div class="col-md-9 col-lg-8 legal__item legal__preguntas">
          <div class="accordions__container"> 
            <a class="accordion h3">¿Cómo hago una compra? </a>
            <div class="panel" style="max-height: auto">
              <b>¡Es muy fácil! </b>
              <p>01. Agrega los productos que quieras adquirir a tu carrito de compra; el botón viene dentro de la página de cada producto. </p>
              <p>02. Cuando tu orden esté completa, da click en Check Out, eso te llevará a una página donde podrás llenar tus datos de envío. </p>
              <p>03. Te presentaremos dos opciones de pago: Paypal con Tarjeta de Crédito o ComproPago para pagos en efectivo en los establecimientos mencionados ahí/ SPEI. Elige el que mejor te funcione.</p>
              <p>04. Después te deberá llegar un email de confirmación. </p>
              <p>*Si elegiste ComproPago, el envío no será procesado hasta que hayas hecho el pago en alguna sucursal o por medio de transferencia.</p>
            </div>

            <a class="accordion h3">¿Qué tipos de pago manejan?   </a>
            <div class="panel">
              <p>Pago por medio de Paypal, con tarjeta de crédito o débito, utilizando American Express, Master Card o Visa. Te garantizamos que tu compra es segura. Paypal es una empresa fiable y que respalda al comprador.</p> <p>Pago directamente con Tarjeta de Crédito o Débito elegiendo esta opción.</p>
              <p>Pagos en efectivo a través de Compropago de manera muy sencilla, haciendo el depósito en diversas sucursales como OXXO, 7Eleven, Farmacias Benavides, Coppel, entre muchas otras.Tu puedes elegir donde mejor te parezca. Los datos te serán enviados a tu correo una vez que pongas tu orden.</p>
              <p>Transferencia electrónica o SPEI dentro de Compropago, los datos te serán enviados a tu correo una vez que pongas tu orden.</p>
            </div>

            <a class="accordion h3">¿Cuánto cuesta el envío?  </a>
            <div class="panel">
              <p>Ofrecemos dos tarifas a elegir:</p>
              <p>Envío con FedEx de 3 a 7 días hábiles por $85 pesos por orden a todo México.<br>Envío con DHL de 2 a 5 días hábiles por $110 pesos por orden a todo México.</p>
              <p>Si haces un pedido por más de $1,100 pesos el envío es gratuito con FedEx.</p>
              <p>Momiji Beauty respalda todos los envíos y nos aseguramos de que lleguen a su destino, así como también ofrecemos apoyo con las paqueterías que manejamos. </p>
            </div>

            <a class="accordion h3">¿Cuánto se tardará en llegarme mi pedido?   </a>
            <div class="panel">
              <p>Una vez hecho tu pedido, la orden se tarda en procesar y empacar aproximadamente 1 día hábil, y el envío toma de 2-5 días hábiles con DHL o 3 a 7 días hábiles con FedEx, en llegar a su destino final. </p>
            </div>

            <a class="accordion h3">El producto que quiero está agotado, ¿qué hago?  </a>
            <div class="panel">
              <p>Todos los productos recorren un largo viaje desde Asia, y han pasado por un riguroso proceso de selección por nuestra parte. Cuando un producto está agotado, normalmente estará de regreso en aproximadamente 2 semanas. Poco a poco tendremos más productos. Momiji te escucha, así que si tienes alguna sugerencia o producto que te gustaría adquirir, escríbenos por favor a: contact@momijibeauty.com</p>
            </div>

            <a class="accordion h3">¿Dan muestras gratis en todos sus envíos?  </a>
            <div class="panel">
              <p>¡Sí! Recibe muestras gratis, y tal vez hasta una sorpresa, en TODOS nuestros envíos. Tenemos también promociones frecuentes en donde regalamos productos.</p>
            </div>

            <a class="accordion h3">¿Tienen tienda física?</a>
            <div class="panel">
              <p>Sí, visítanos de Lunes a Sábado de 11 am a 8 pm en Río Orinoco 414 Segundo piso, San Pedro Garza García, Nuevo León.</p>
              <p>Ahí podrás probar los productos y recibir recomendaciones, además contamos con faciales inspirados en la rutina coreana.</p>
            </div>

            <a class="accordion h3">Recibí mi pedido, pero no llegó completo/llegó maltratado, ¿qué puedo hacer? </a>
            <div class="panel">
              <p>Primero que nada, ¡una disculpa! Por favor, escríbenos help@momijibeauty.com incluyendo el número de tu orden, para poder dar seguimiento y resolución a tu caso.</p>
            </div>

            <a class="accordion h3">¿Hacen envío internacionales?</a>
            <div class="panel">
              <p>Por el momento, sólo hacemos envíos dentro de la República Mexicana. ¡Esperamos pronto poder hacer envíos internacionales!</p>
            </div>

            <a class="accordion h3">¿Los productos son originales? </a>
            <div class="panel">
              <p>Todos los productos en Momiji Beauty son originales e importados directamente de Corea en acuerdos directos con las marcas. Constantemente estamos en comunicación con las marcas y proveedores oficiales, y tenemos mucho orgullo en  que nuestras importaciones cumplen con las normas de importación y aduanas en México. Los vendemos en perfecto estado, con su recipiente y contenido intactos. </p>
            </div>

            <a class="accordion h3">¿Todos los productos son de Corea? </a>
            <div class="panel">
              <p>En Momiji puedes estar 100% seguro que el producto que estas comprando viene directamente desde Corea a donde viajamos frecuentemente y tenemos acuerdos con cada marca. Nos dedicamos a eso. Todos los productos están frescos, con larga vida de uso.</p>
            </div>

            <a class="accordion h3">¿Cómo me aplico un producto si las instrucciones están en coreano? </a>
            <div class="panel">
              <p>Para cada producto, podrás encontrar de manera específica qué es, cómo funciona y cómo usarlo, dentro de su página en el sitio web. La mayoría de los productos llevan en inglés sus instrucciones, ingredientes y descripción en el envase o empaque. Si aún estás un poco confundido, no dudes en envíanos un mail a help@momijibeauty.com y con gusto te ayudaremos.</p>
            </div>

            <a class="accordion h3">¿Los ingredientes le pueden hacer daño a mi piel? </a>
            <div class="panel">
              <p>Los productos coreanos-japoneses usan ingredientes naturales, los cuales tienden a ser más amigables con la piel. También tenemos una sección especial de productos para pieles sensibles. Si tienes alguna duda o preocupación, por favor escríbenos a: help@momijibeauty.com</p>
            </div>

            <a class="accordion h3">¿Como sé cuando caduca mi producto? </a>
            <div class="panel">
              <p>Algunos productos tienen la fecha de caducidad impresa sobre el empaque o envase, mientras que otros la fecha de fabricación. La fecha de fabricación viene generalmente acompañada por la palabra "제조", que en español significa “fabricación’’. Si todavía no estás seguro acerca de la fecha de tu producto, no dudes en ponerte en contacto con nosotros en help@momijibeauty.com</p>
            </div>

            <a class="accordion h3">¿Los productos son probados en animales?</a>
            <div class="panel">
              <p>¡Corea del Sur acaba de emitir una ley en la que ningún producto puede ser probado en animales! Así mismo, marcas como COSRX, Benton, Shangpree, Mizon, Pyunkang Yul, Polatam, MakePREM, Hyggee, no hacen pruebas en animales. En los casos de los productos que contienen baba de caracol, ésta se colecta sin hacerle daño al animal <3</p>
            </div>

            <a class="accordion h3">No sé que comprar, ¿me pueden dar algunos consejos? </a>
            <div class="panel">
              <p>¡Claro! Nos encantaría escuchar de ti. Escríbenos a help@momijibeauty.com o contáctanos por medio del chat en vivo de la página (al lado derecho inferior) o Facebook.</p>
            </div>

            <a class="accordion h3">¿Cuando hay promociones? </a>
            <div class="panel">
              <p>¡Tenemos promociones de manera muy frecuente! La mejor forma de estar enterado es seguirnos en nuestras redes sociales, subscribirte al newsletter (pie de página) y visitar nuestra página web www.momijibeauty.com </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</main>