<main class="contacto bg-purple">
    <section class="section__principal">
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-md-auto col-lg-6">
                    <div class="img-container">
                        <img data-src="{{ 'ubicaciones-horarios.jpg' | asset_url }}" alt="Productos Momiji en una mesa" class="lazyload">
                    </div>
                </div>
                <div class="col-md-11 mx-md-auto col-lg-6">
                    {{ page.content }}
                </div>
            </div>
        </div>
    </section>
</main>