<main class="about bg-purple">
    
    <section class="section__principal">
    <div class="container">
        <div class="row br-tb mb-90 row-mobile no-gutters">
        <div class="col-md-3 col-lg-4">
            <b>Somos Momiji beauty</b>
        </div>
        <div class="col-md-5 col-lg-4">
            <b>Primera tienda online de K-Beauty</b>
            <p>Todas nuestras importaciones cumplen con las leyes y regulaciones de importación.</p>
        </div>
        <div class="col-md-4 col-lg-4">
            <b>Acuerdos directos con marcas</b>
            <p>Encontrarás productos con estándares altos de salud y belleza. </p>
        </div>

        </div>

        <div class="row mb-90">
        <figure class="col-md-8">
            <div class="img-container">
            <img src="{{ 'instagram.png' | asset_url }}" alt="About">
            </div>
        </figure>
        <div class="col-md-4 align-self-end">
            <img src="{{ 'miffy.svg' | asset_url }}" alt="Miffy">
            <hr>
            <b>Cecy y Ale Young, Fundadoras.</b>
            <p>Asia es el hotspot, nosotros el filtro, y ustedes esas personas a las que nos encanta hacer felices.</p>
        </div>
        </div>

        <div class="row">
        <div class="col-md-12 about__info">
            <p class="h4">
            Momiji <span class="sticker6"></span> comienza con un descubrimiento en un viaje a <span class="h2">Corea del Sur.</span> Cecy y Ale encontraron que su filosofía para el <span class="border-text">cuidado de la piel</span> es interesante, emocionante y realmente funciona. <span class="sticker7"></span>
            </p>
            <p class="h4">
            Nuestro <a href="/" class="h2">Momiji Team</a> se encarga de probar <span class="sticker8"></span> una variedad enorme de <a href="/" class="h4">Productos<span class="a__link--about"></span></a>    para llegar a la selección perfecta. Viajamos a <span class="border-text">Corea</span> <span class="sticker9"></span> con frecuencia en búsqueda de lo más nuevo y en tendencia, para traerlo a México más <span class="h2">cerca de ti</span>.<span class="sticker10"></span>
            </p>
            <a href="/pages/work-with-us" class="btn__main">Trabaja en Momiji</a>
        </div>
        </div>
    </div>
    </section>
    
</main>