<main class="legal bg-purple">

  <section class="section__principal">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-lg-8 privacidad--title mb-60">
          <h2>{{ page.title }}</h2>
        </div>
        <div class="col-md-9 col-lg-8 legal__item legal__privacidad">
          {{ page.content }}
        </div>

      </div>
    </div>
  </section>
</main>