<main class="legal bg-purple">

  <section class="section__principal">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-lg-8 privacidad--title mb-60">
        {% comment %} <div class="col-md-7 offset-md-3 col-lg-8 offset-lg-4 privacidad--title mb-60"> {% endcomment %}
          <h2>Aviso importante</h2>
        </div>
        {% comment %} <aside class="col-md-3 col-lg-4">
          <ul class="list-unstyled nav-scroll">
            <li class="text-link"><a href="/pages/preguntas-frecuentes">Preguntas frecuentes</a></li>
            <li class="text-link"><a href="/pages/glosario">Glosario</a></li>
            <li class="text-link"><a href="/pages/pagos-envios">Pagos y envíos</a></li>
            <li class="text-link active">Aviso de Privacidad</li>
            <li class="text-link"><a href="/pages/politicas-compra">Políticas de compra</a></li>
            <li class="text-link"><a href="/pages/wholesale">Wholesale</a></li>
          </ul>
        </aside> {% endcomment %}
        <div class="col-md-9 col-lg-8 legal__item legal__privacidad">
          <h3>A toda nuestra comunidad, </h3>
          <p>En Momiji, su salud es nuestra prioridad. Por ello, ante el brote de coronavirus (COVID-19) estamos tomando las medidas necesarias para mantener nuestras tiendas y oficinas seguras para ustedes, nuestros colaboradores y toda la comunidad, tomando en cuenta las recomendaciones de la Organización Mundial de la Salud.</p>
          <br>
          <p>Estas medidas incluyen:</p>
          <br>
          <ol>
            <li>Cerrar nuestra tienda en Monterrey y suspender todos sus servicios hasta nuevo aviso. Si tienes pedidos de Store Pick-Up pendientes, tienes hasta el martes 17 de marzo de 2020 a las 6:00 PM para recogerlos. Si no puedes ir hoy, por favor escríbenos a help@momijibeauty.com.</li>
            <li>Trabajo desde casa para todos nuestros colaboradores.</li>
            <li>Mantenernos atentos a los comunicados oficiales de las autoridades para hacer los ajustes necesarios ante la situación.</li>
        </ol>
        <br>
        <p>Queremos facilitar el permanecer en casa y evitar exponerse, por lo cual eliminaremos los costos de envío en compras en www.momijibeauty.com arriba de $600 MXN con el código <strong>MEQUEDOENCASA</strong> hasta nuevo aviso #yomequedoencasa</p>
        <br>
        <p>¡Muchas gracias por su confianza siempre!</p>
        <br>
        <p>Atentamente,<br>Equipo Momiji</p>
          <hr>
        </div>

      </div>
    </div>
  </section>
</main>