<main class="contacto bg-purple">
    <section class="section__principal">
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-md-auto col-lg-6">
                    <div class="img-container">
                        <img data-src="{{ 'agencia.jpg' | asset_url }}" alt="Agencia Momiji" class="lazyload">
                    </div>
                </div>
                <div class="col-md-11 mx-md-auto col-lg-6">
                    <div class="col-md-12 col-lg-10">
                        <h2>Agencia Momiji</h2>
                        <p>Nuestro objetivo como socios en proyectos es brindar soluciones y herramientas a otras marcas, y acercar nuestra experiencia en el mundo de la belleza.</p>
                        <br>
                        <p>Con la comercialización de cosméticos y la creación de nuestra propia marca hemos identificado los desafíos y estrategias para llevar a cabo un proyecto exitosamente de principio a fin.</p>
                        <br>
                        <p>Ofrecemos servicios integrales y consultoría para empresas en las ramas de private label, comercialización, branding y estrategia.</p>
                        <br>
                        <li>Contacto con marcas coreanas, negociación de precios, términos, contratos y tiempos de entrega.</li>
                        <li>Importación, permisos y normas de importación, etiquetado, aranceles y transporte en origen y hasta tu puerta.</li>
                        <li>Branding, desarrollo de marca e imagen de productos, formulación de productos y empaque.</li>
                    </div>
                    <div class="contacto__items">
                        {% comment %} <div class="col-12 col-md-5">
                            <b>Momiji Shop MTY</b>
                            <address>Río Orinoco 414, Local 6, Plaza Selda, Col. Del Valle, SPGG. C.P. 66220, Monterrey, N.L. México.</address>
                            <p>Lunes a viernes 11 am - 8 pm.<br />Sábados 11 am - 6 pm.</p>
                        </div> {% endcomment %}
                        <div class="col-12 col-md-5">
                            <b>Platícanos tu proyecto</b>
                            <a href="mailto:contact@momijibeauty.com">contact@momijibeauty.com </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>