<main class="legal bg-purple">

  <section class="section__principal">
    <div class="container">
      <div class="row">
        <div class="col-md-7 offset-md-3 col-lg-8 offset-lg-4 privacidad--title mb-60">
          <h2>{{ page.title }}</h2>
        </div>
        <aside class="col-md-3 col-lg-4">
          <ul class="list-unstyled nav-scroll">
            <li class="text-link"><a href="/pages/preguntas-frecuentes">Preguntas frecuentes</a></li>
            <li class="text-link"><a href="/pages/glosario">Glosario</a></li>
            <li class="text-link"><a href="/pages/pagos-envios">Pagos y envíos</a></li>
            <li class="text-link active">Aviso de Privacidad</li>
            <li class="text-link"><a href="/pages/politicas-compra">Políticas de compra</a></li>
            <li class="text-link"><a href="/pages/wholesale">Wholesale</a></li>
          </ul>
        </aside>
        <div class="col-md-9 col-lg-8 legal__item legal__privacidad">
          {{ page.content }}
          {% comment %} <h3>Privacidad </h3>
          <p>Se puede navegar el sitio Momiji sin dar ninguna información o datos personales a cambio. Sus datos personales serán pedidos en el momento de una compra.</p>
          <p>Toda la información personal que proporcione durante el registro se utiliza para procesar sus pedidos o ponerse en contacto con usted en relación con una transacción en particular. Momiji garantiza que la información que introduzca no será compartida con ninguna organización externa o terceros. Podemos usar su información de contacto para ponerse en contacto con usted acerca de nuevos productos, características o promociones especiales. Si no desea recibir este tipo de comunicaciones, puede darse de baja de la lista de correo.</p>
          <hr>
          <h3>Seguridad</h3>
          <p>Momiji utiliza PayPal para procesar el pago de tarjeta de crédito. Paypal es el encargado de la seguridad en su tarjeta de crédito. Al pagar con PayPal, la tienda no volverá a ver los dígitos de su tarjeta de crédito de su cuenta bancaria. Su información financiera es segura y sus datos están protegidos por la Política de protección del comprador de PayPal contra pagos no autorizados en su cuenta. Momiji no recibe ni guarda información de Paypal.</p> {% endcomment %}
        </div>

      </div>
    </div>
  </section>
</main>