<main class="contacto bg-purple">
    <section class="section__principal">
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-md-auto col-lg-6">
                    <div class="img-container">
                        <img src="{{ 'contacto_optimizada.jpg' | asset_url }}" alt="Contactanos">
                    </div>
                </div>
                <div class="col-md-11 mx-md-auto col-lg-6 sticker3">
                    <div class="col-md-12 col-lg-10">
                        <h2>Queremos saber un poco más sobre ti</h2>
                        <p>¿Dudas sobre tu pedido? ¿Todo quieres y no sabes qué comprar? Mándanos un mail, nos pondremos en contacto contigo en menos de 24 hrs &lt;3 </p>
                        <a href="/pages/preguntas-frecuentes" class="link--orange">Visita nuestra sección de FAQ</a>
                    </div>
                    <div class="contacto__items">
                        <div class="col-12 col-md-5">
                            <b>Momiji Shop MTY</b>
                            <address>Río Orinoco 414, Local 6, Plaza Selda, Col. Del Valle, SPGG. C.P. 66220, Monterrey, N.L. México.</address>
                            <p>Lunes a viernes 11 am - 8 pm.<br />Sábados 11 am - 6 pm.</p>
                            {%- comment -%}<a href="telto:+52 (55) 7825 8810">+52 (55) 7825 8810</a>{%- endcomment -%}
                        </div>
                        <div class="col-12 col-md-5">
                            <b>Momiji Pop Up Shop CDMX</b>
                            <address>Praga 44, Col. Juárez, 4to piso. <br />C.P. 06600, CDMX.</address>
                            <p>Lunes a viernes 11 am - 8 pm.<br />Sábados 11 am - 3 pm.</p>
                            {%- comment -%}<a href="telto:+52 (81) 8336 6666">+52 (81) 8336 6666</a>{%-endcomment-%}
                        </div>
                        <div class="col-12 col-md-5">
                            <b>Momiji Palacio de Hierro</b>
                            <address>Palacio de Hierro Polanco, Area Perfumería, Sotano 1. Av. Moliere 222, Polanco, CDMX.</address>
                            <p>Todos los días 11 am - 9 pm.</p>
                            {%- comment -%}<a href="telto:+52 (81) 8336 6666">+52 (81) 8336 6666</a>{%-endcomment-%}
                        </div>
                        <div class="col-12 col-md-5">
                            <b>Dudas y preguntas sobre pedidos</b>
                            <a href="mailto:help@momijibeauty.com">help@momijibeauty.com </a>
                        </div>
                        <div class="col-12 col-md-5">
                            <b>Colaboraciones y medios</b>
                            <a href="mailto:press@momijibeauty.com">press@momijibeauty.com</a>
                        </div>
                        <div class="col-12 col-md-5">
                            <b>Ventas al mayoreo</b>
                            <a href="mailto:press@momijibeauty.com">ventas@bellezaasiatica.com.mx</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>