<main class="legal bg-purple">

  <section class="section__principal">
    <div class="container">
      <div class="row">
        <div class="col-md-7 offset-md-3 col-lg-8 offset-lg-4 privacidad--title mb-60">
          <h2>{{ page.title }}</h2>
        </div>
        <aside class="col-md-3 col-lg-4">
          <ul class="list-unstyled nav-scroll">
            <li class="text-link"><a href="/pages/preguntas-frecuentes">Preguntas frecuentes</a></li>
            <li class="text-link"><a href="/pages/glosario">Glosario</a></li>
            <li class="text-link"><a href="/pages/pagos-envios">Pagos y envíos</a></li>
            <li class="text-link"><a href="/pages/aviso-privacidad">Aviso de Privacidad</a></li>
            <li class="text-link active">Políticas de compra</li>
          </ul>
        </aside>
        <div class="col-md-9 col-lg-8 legal__item legal__privacidad">
          <h3>Pedidos</h3>
          <p>Al hacer un pedido, recibirás de manera automática por correo un recibo confirmando la intención de compra. Este recibo no constituye un contrato, y los pedidos podrán ser cancelados en cualquier momento debido a la insuficiencia de valores, incapacidad de autorizar una tarjeta de crédito, la sospecha de intención fraudulenta, el descubrimiento de un precio de artículo incorrecto, o cualquier otra razón que consideremos válida. En el raro caso de que el precio de un artículo no esté bien marcado, Momiji Beauty se reserva el derecho de negarse a vender el artículo en dicho precio. </p>
          <hr>
          <h3>Envíos</h3>
          <p>Una vez autorizada la compra, recibirás un correo que te notificará que tu pedido ha sido enviado. Nuestros paquetes son enviados por medio de DHL con un costo de $99 pesos para envío de 2 a 5 días hábiles después de que haya sido despachado. Momiji Beauty respalda todos los envíos y nos aseguramos de que lleguen a su destino, así como también ofrecemos apoyo con las paqueterías que manejamos.</p>
          <p>*Contamos con envío a gratis por DHL en compras mayores a $1,500 pesos.</p>
          <hr>
          <h3>Recoger en tienda</h3>
          <p>En caso de seleccionar la opción “Recoger en tienda” al hacer tu compra, toma en cuenta que este servicio está disponible solo para la tienda de Momiji en Monterrey, Nuevo León. Recibirás un correo de confirmación y una vez autorizado el pago podrás pasar a recoger tu paquete a la tienda en un horario de 12 pm a 7 pm de lunes a viernes y sábados de 12 pm a 6 pm. Tienes hasta un mes para recogerlo.</p>
          <p>Si no deseas recoger en tienda y deseas que tu paquete sea enviado a tu domicilio, puedes enviarnos un correo a help@momijibeauty.com para que te enviemos una boleta de pago por el envío.</p>
          <p>En caso de elegir la opción de pago en efectivo, es necesario hacer el pago a través de las opciones presentadas por Conketa antes de recoger tu pedido y llevar a la tienda tu recibo de pago. De lo contrario, tu orden no será entregada. En caso de no poder ir personalmente, la persona que recoja el paquete debe conocer el número de orden y el nombre completo de la persona que puso el pedido.</p>
          <p>*No se aceptará ningún pago en efectivo en tienda Momiji.</p>
          <hr>
          <h3>Aclaraciones sobre tu pedido</h3>
          <p>El medio oficial de contacto para cualquier aclaración sobre tu compra es help@momijibeauty.com (no redes sociales) y te solicitamos que al escribirnos siempre agregues el número de tu orden para poder dar seguimiento a tu duda o aclaración.</p>
          <hr>
          <h3>Todas las compras se registran a través de la tienda en línea</h3>
          <p>Para que las compras sean válidas, es necesario que pasen por el Check-Out de nuestra página (www.momijibeauty.com). Si la compra fue hecha con método de pago en efectivo, tu paquete no será enviado hasta que se haya pagado el total de la compra en OXXO o mediante SPEI, según sea el caso.</p>
          <hr>
          <h3>Cancelaciones</h3>
          <p>Una vez que se haya hecho el pago, no hay cancelaciones. Si tienes algún problema con tu pedido al recibirlo, puedes contactarnos y nuestro equipo te ayudará a resolverlo lo mejor posible. </p>
          <hr>
          <h3>Devoluciones</h3>
          <p>Por el momento, solo aceptamos devoluciones en mercancía dañada. El uso de los productos adquiridos en Momiji Beauty son responsabilidad del consumidor. Momiji Beauty no se hace responsable de las consecuencias secundarias que pudieran ocasionarse con los productos.  </p>
          <hr>
          <h3>Aviso de Privacidad Simplificado</h3>
          <p>Momiji Beauty utilizará tus datos personales aquí recabados, para proveer los servicios y productos que has solicitado, así como también para mantenerte informado de nuestros productos, servicios y promociones.</p>
        </div>

      </div>
    </div>
  </section>
</main>