<main class="legal bg-purple">

  <section class="section__principal">
    <div class="container">
      <div class="row">
        <div class="col-md-7 offset-md-3 col-lg-8 offset-lg-4 privacidad--title mb-60">
          <h2>{{ page.title }}</h2>
        </div>
        <aside class="col-md-3 col-lg-4">
          <ul class="list-unstyled nav-scroll">
            <li class="text-link"><a href="/pages/preguntas-frecuentes">Preguntas frecuentes</a></li>
            <li class="text-link"><a href="/pages/glosario">Glosario</a></li>
            <li class="text-link"><a href="/pages/pagos-envios">Pagos y envíos</a></li>
            <li class="text-link"><a href="/pages/aviso-privacidad">Aviso de Privacidad</a></li>
            <li class="text-link active">Políticas de compra</li>
          </ul>
        </aside>
        <div class="col-md-9 col-lg-8 legal__item legal__privacidad">
          <h3>Politicas de Compra </h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel ex rerum cupiditate, velit et est? Officia minima quaerat facere magni, adipisci deserunt corporis. Voluptates dolorem id praesentium dolor? Vitae, doloribus!</p>
          <hr>
          <h3>Políticas de Compra</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, aperiam commodi similique, natus dolores maxime tempora itaque perferendis numquam perspiciatis debitis aliquam, necessitatibus optio alias aspernatur mollitia eligendi atque quidem?</p>
        </div>

      </div>
    </div>
  </section>
</main>