<main class="legal bg-purple">

  <section class="section__principal">
    <div class="container">
      <div class="row">

        <div class="col-md-7 offset-md-3 col-lg-8 offset-lg-4 privacidad--title mb-60">
          <h2>{{ page.title }}</h2>
        </div>
        
        <aside class="col-md-3 col-lg-4">
          <ul class="list-unstyled nav-scroll">
            <li class="text-link active">Preguntas frecuentes</li>
            <li class="text-link"><a href="/pages/glosario">Glosario</a></li>
            <li class="text-link"><a href="/pages/pagos-envios">Pagos y envíos</a></li>
            <li class="text-link"><a href="/pages/aviso-privacidad">Aviso de Privacidad</a></li>
            <li class="text-link"><a href="/pages/politicas-compra">Políticas de compra</a></li>
          </ul>
        </aside>

        <div class="col-md-9 col-lg-8 legal__item legal__preguntas">
          <div class="accordions__container"> 
            <a class="accordion h3">¿Cómo hago una compra? </a>
            <div class="panel" style="max-height: auto">
              <b>¡Es muy fácil! </b>
              <p>01. Agrega los productos que quieras adquirir a tu carrito de compra; el botón viene dentro de la página de cada producto. </p>
              <p>02. Cuando tu orden esté completa, da click en Check Out, eso te llevará a una página donde podrás llenar tus datos de envío. </p>
              <p>03. Te presentaremos dos opciones de pago: Paypal con Tarjeta de Crédito o ComproPago para pagos en efectivo en los establecimientos mencionados ahí/ SPEI. Elige el que mejor te funcione.</p>
              <p>04. Después te deberá llegar un email de confirmación. </p>
              <p>*Si elegiste ComproPago, el envío no será procesado hasta que hayas hecho el pago en alguna sucursal o por medio de transferencia.</p>
            </div>

            <a class="accordion h3">¿Qué tipos de pago manejan?   </a>
            <div class="panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat make a talent database that leverages.</p>
            </div>

            <a class="accordion h3">¿Cuánto cuesta el envío?  </a>
            <div class="panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat make a talent database that leverages.</p>
            </div>

            <a class="accordion h3">¿Cuánto se tardará en llegarme mi pedido?   </a>
            <div class="panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat make a talent database that leverages.</p>
            </div>

            <a class="accordion h3">El producto que quiero está agotado, ¿qué hago?  </a>
            <div class="panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat make a talent database that leverages.</p>
            </div>

            <a class="accordion h3">¿Dan muestras gratis en todos sus envíos?  </a>
            <div class="panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat make a talent database that leverages.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</main>