<main class="legal bg-purple">

  <section class="section__principal">
    <div class="container">
      <div class="row">

        <div class="col-md-7 offset-md-3 col-lg-8 offset-lg-4 privacidad--title mb-60">
          <h2>{{ page.title }}</h2>
        </div>
        
        <aside class="col-md-3 col-lg-4">
          <ul class="list-unstyled nav-scroll">
            <li class="text-link active">Preguntas frecuentes</li>
            <li class="text-link"><a href="/pages/glosario">Glosario</a></li>
            <li class="text-link"><a href="/pages/pagos-envios">Pagos y envíos</a></li>
            <li class="text-link"><a href="/pages/aviso-privacidad">Aviso de Privacidad</a></li>
            <li class="text-link"><a href="/pages/politicas-compra">Políticas de compra</a></li>
            <li class="text-link"><a href="/pages/wholesale">Wholesale</a></li>
          </ul>
        </aside>

        <div class="col-md-9 col-lg-8 legal__item legal__preguntas">
          <div class="accordions__container"> 
          
            <a class="accordion h3">Nuestras acciones ante el brote de COVID-19.</a>
            <div class="panel" style="max-height: auto">
              <p>Su salud es nuestra prioridad y ante las recomendaciones de la Organización Mundial de la Salud por el brote de coronavirus (COVID-19), y por el bien de toda la comunidad y nuestros colaboradores, nuestra tienda en Monterrey permanecerá cerrada hasta nuevo aviso.</p>
              <p>Estamos constántemente monitoreando la situación para tomar todas las medidas necesarias.</p>
              <p>Noticias sobre la re-apertura de nuestros espacios físicos serán comunicados vía nuestro newsletter y redes sociales.</p>
              <p>Queremos facilitar el permanecer en casa y evitar exponerse, por lo cual seguimos trabajando para ustedes con compras y envíos seguros a través de www.momijibeauty.com</p>
              <p>Si tienes pedidos de store pick-up pendientes, tienes hasta el día martes de 17 de marzo de 2020 a las 6:00 PM para recogerlos. Si no puedes ir, por favor escríbenos a help@momijibeauty.com.</p>
              <p>Guardémonos lo más posible y aprovechemos estos momentos para reflexionar y generar un impacto positivo en nuestras vidas, la de los demás y del planeta.</p>
              <p>Necesitamos en estos tiempos apoyar a los pequeños negocios, los más vulnerables, freelancers y todos aquellos que estén en una situación dificil.</p>
              <p>Cuidandote, cuidas a los demas.</p>
              <p>p.d. no olvides lavarte muy bien las manos.</p>
            </div>
            
            <a class="accordion h3">¿Cómo hago una compra? </a>
            <div class="panel">
            {% comment %} <div class="panel" style="max-height: auto"> {% endcomment %}
              <b>¡Es muy fácil! </b>
              <p>01. Agrega los productos que quieras adquirir a tu carrito de compra; el botón viene dentro de la página de cada producto. </p>
              <p>02. Cuando tu orden esté completa, da click en Check Out, eso te llevará a una página donde podrás llenar tus datos de envío. </p>
              <p>03. Te presentaremos tres opciones de pago: Paypal con tu cuenta, pago con Tarjeta de Crédito/débito o pago en efectivo en sucursales OXXO. Elige el más conveniente para ti.</p>
              <p>04. Después te deberá llegar un email de confirmación. </p>
              <p>*Si elegiste pago en efectivo en OXXO, el envío no será procesado hasta que hayas hecho el pago en alguna sucursal o por medio de transferencia.</p>
            </div>

            <a class="accordion h3">¿Requieres factura?</a>
            <div class="panel">
              <p>Si requieres factura por favor envíanos un correo a help@momijibeauty.com incluyendo tus datos completos de facturación. Recuerda pedir tu factura en el mes en el que realizaste tu compra para que puedas recibirla a la brevedad.</p>
            </div>

            <a class="accordion h3">¿Qué tipos de pago manejan?   </a>
            <div class="panel">
              <p>Pago por medio de Paypal, con tarjeta de crédito o débito, utilizando American Express, Master Card o Visa. Te garantizamos que tu compra es segura. Paypal es una empresa fiable y que respalda al comprador.</p>
              <p>Pago por medio de Mercadopago, con tarjeta de crédito o débito utilizando American Express, Master Card o Visa. Pagos en efectivo en sucursales como Oxxo, 7Eleven, Farmacias del Ahorro, etc. y por medio de transferencia electrónica.</p>
              <p>Pago directamente con Tarjeta de Crédito o Débito elegiendo esta opción.</p>
              <p>Pagos en efectivo a través de Conekta, haciendo tu depósito en sucursales de OXXO. Los datos te serán enviados a tu correo una vez que pongas tu orden.</p>
            </div>

            <a class="accordion h3">¿Cuánto cuesta el envío?  </a>
            <div class="panel">
              <p>Hacemos todos nuestros envíos por DHL de 3 a 6 días hábiles por $99 pesos por orden a todo México.</p>
              <p>Si haces un pedido por más de $1,500 pesos el envío es gratuito con DHL.</p>
              <p>Momiji Beauty respalda todos los envíos y nos aseguramos de que lleguen a su destino, así como también ofrecemos apoyo con las paqueterías que manejamos.</p>
            </div>

            <a class="accordion h3">¿Cuánto se tardará en llegarme mi pedido?   </a>
            <div class="panel">
              <p>Una vez hecho tu pedido, la orden se procesa y empaca el siguiente día hábil y el envío toma de 3 a 6 días hábiles en llegar a su destino final. Puedes rastrearlo con el número que te proporcionaremos en tu correo.</p>
            </div>

            <a class="accordion h3">¿Cómo funciona la opción de Recoger en Tienda?</a>
            <div class="panel">
              <p>¿Te mueres por ya tener tu paquete? ¡En la tienda de Momiji Monterrey tenemos la opción de recoger en tienda el mismo día que haces tu compra!</p>
              <p>Lo único que tienes que hacer es escoger tus productos, agregarlos al carrito de compra, ir a la sección de Checkout y elegir la opción de “Recoger en tienda”. Una vez confirmada tu orden y pago podrás ir a recogerlo a Momiji Monterrey en un horario de 12 pm a 7 pm de lunes a viernes y sábados de 12 pm a 6 pm. Tienes hasta un mes para recogerlo.</p>
              <p>En caso de elegir la opción de pago en efectivo, es necesario hacer el pago completo a través de las opciones presentadas por Conketa antes de recoger tu pedido y llevar a la tienda tu recibo de pago. De lo contrario, tu orden no será entregada. En caso de no poder ir personalmente, la persona que recoja el paquete debe conocer el número de orden y el nombre completo de la persona que puso el pedido.</p>
              <p>*Recoger en tienda solo está disponible en Momiji Monterrey. La opción excluye cualquier otra sucursal o pop-up stores.</p>
            </div>

            <a class="accordion h3">El producto que quiero está agotado, ¿qué hago?  </a>
            <div class="panel">
              <p>Todos los productos recorren un largo viaje desde Asia, y han pasado por un riguroso proceso de selección por nuestra parte. Cuando un producto está agotado, normalmente estará de regreso en aproximadamente 2 semanas. Poco a poco tendremos más productos. Momiji te escucha, así que si tienes alguna sugerencia o producto que te gustaría adquirir, escríbenos por favor a: contact@momijibeauty.com</p>
            </div>

            <a class="accordion h3">¿Dan muestras gratis en todos sus envíos?  </a>
            <div class="panel">
              <p>¡Sí! Recibe muestras gratis, y tal vez hasta una sorpresa, en TODOS nuestros envíos. Tenemos también promociones frecuentes en donde regalamos productos.</p>
            </div>

            <a class="accordion h3">¿Tienen tienda física?</a>
            <div class="panel">
              <p>Sí, visítanos de Lunes a Sábado de 11 am a 8 pm en Río Orinoco 414 Segundo piso, San Pedro Garza García, Nuevo León.</p>
              <p>Ahí podrás probar los productos, recibir recomendaciones y probar un facial. <a href="/pages/momiji-shop">Reserva tu facial aquí.</a></p>
            </div>

            <a class="accordion h3">Recibí mi pedido, pero no llegó completo/llegó maltratado, ¿qué puedo hacer? </a>
            <div class="panel">
              <p>Primero que nada, ¡una disculpa! Por favor, escríbenos help@momijibeauty.com incluyendo el número de tu orden, para poder dar seguimiento y resolución a tu caso.</p>
            </div>

            <a class="accordion h3">¿Hacen envío internacionales?</a>
            <div class="panel">
              <p>Por el momento, sólo hacemos envíos dentro de la República Mexicana. ¡Esperamos pronto poder hacer envíos internacionales!</p>
            </div>

            <a class="accordion h3">¿Los productos son originales? </a>
            <div class="panel">
              <p>Todos los productos en Momiji Beauty son originales e importados directamente de Corea en acuerdos directos con las marcas. Constantemente estamos en comunicación con las marcas y proveedores oficiales, y tenemos mucho orgullo en  que nuestras importaciones cumplen con las normas de importación y aduanas en México. Los vendemos en perfecto estado, con su recipiente y contenido intactos. </p>
            </div>

            <a class="accordion h3">¿Todos los productos son de Corea? </a>
            <div class="panel">
              <p>En Momiji puedes estar 100% seguro que el producto que estas comprando viene directamente desde Corea a donde viajamos frecuentemente y tenemos acuerdos con cada marca. Nos dedicamos a eso. Todos los productos están frescos, con larga vida de uso.</p>
            </div>

            <a class="accordion h3">¿Cómo me aplico un producto si las instrucciones están en coreano? </a>
            <div class="panel">
              <p>Para cada producto, podrás encontrar de manera específica qué es, cómo funciona y cómo usarlo, dentro de su página en el sitio web. La mayoría de los productos llevan en inglés sus instrucciones, ingredientes y descripción en el envase o empaque. Si aún estás un poco confundido, no dudes en envíanos un mail a help@momijibeauty.com y con gusto te ayudaremos.</p>
            </div>

            <a class="accordion h3">¿Los ingredientes le pueden hacer daño a mi piel? </a>
            <div class="panel">
              <p>Los productos coreanos-japoneses usan ingredientes naturales, los cuales tienden a ser más amigables con la piel. Te recomendamos hacer una pequeña prueba en tu mano antes de aplicar en el rostro. También tenemos una sección especial de productos para pieles sensibles o rosácea. Si tienes alguna duda o preocupación, por favor escríbenos a: help@momijibeauty.com</p>
            </div>

            <a class="accordion h3">¿Como sé cuando caduca mi producto? </a>
            <div class="panel">
              <p>Algunos productos tienen la fecha de caducidad impresa sobre el empaque o envase, mientras que otros la fecha de fabricación. La fecha de fabricación viene generalmente acompañada por la palabra "제조", que en español significa “fabricación’’. Si todavía no estás seguro acerca de la fecha de tu producto, no dudes en ponerte en contacto con nosotros en help@momijibeauty.com</p>
            </div>

            <a class="accordion h3">¿Los productos son probados en animales?</a>
            <div class="panel">
              <p>En Corea del Sur existe una ley en la que ningún producto puede ser probado en animales, por lo tanto los productos manufacturados en Corea no son probados en animales.</p>
            </div>

            <a class="accordion h3">No sé que comprar, ¿me pueden dar algunos consejos? </a>
            <div class="panel">
              <p>¡Claro! Nos encantaría escuchar de ti. Escríbenos a help@momijibeauty.com o contáctanos por medio del chat en vivo de la página (al lado derecho inferior) o Facebook. Así mismo puedes ver consultar más información y recomendaciones en nuestro canal de Youtube o nuestro blog: <a href="https://momijitalks.com/">www.momijitalks.com</a></p>
            </div>

            <a class="accordion h3">¿Cuando hay promociones? </a>
            <div class="panel">
              <p>¡Tenemos promociones de manera muy frecuente! La mejor forma de estar enterado es seguirnos en nuestras redes sociales, subscribirte al newsletter (pie de página) y visitar nuestra página web www.momijibeauty.com </p>
            </div>

            <a class="accordion h3">Quiero ser mayorista/vender productos de Momiji en mi negocio</a>
            <div class="panel" id="wholesale">
              <p>Nos dedicamos a la comercialización y distribución de cosméticos coreanos para el cuidado de la piel. Somos una solución integral en México que hará equipo perfecto contigo y tu negocio. Proporcionamos asesoría y servicio a nuestros clientes anticipándonos a sus necesidades y las tendencias del mercado de belleza.</p>
              <p>¿Por que somos tu mejor opción?</p>
              <li>Ofrecemos importaciones formales en México con etiquetado de producto en idioma Español</li>
              <li>Trato directo con las marcas</li>
              <li>Envíos a todo México </li>
              <li>Precios competitivos en México</li>
              <p>¡Contactanos!</p>
              <p>Escríbenos a ventas@bellezaasiatica.com</p>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
</main>