<main class="legal bg-purple">

  <section class="section__principal">
    <div class="container">
      <div class="row">
        <div class="col-md-7 offset-md-3 col-lg-8 offset-lg-4 privacidad--title mb-60">
          <h2>{{ page.title }}</h2>
        </div>
        <aside class="col-md-3 col-lg-4">
          <ul class="list-unstyled nav-scroll">
            <li class="text-link"><a href="/pages/preguntas-frecuentes">Preguntas frecuentes</a></li>
            <li class="text-link"><a href="/pages/glosario">Glosario</a></li>
            <li class="text-link active">Pagos y envíos</li>
            <li class="text-link"><a href="/pages/aviso-privacidad">Aviso de Privacidad</a></li>
            <li class="text-link"><a href="/pages/politicas-compra">Políticas de compra</a></li>
          </ul>
        </aside>
        <div class="col-md-9 col-lg-8 legal__item legal__privacidad">
          <h3>Pagos </h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda doloribus iure tempora voluptate est repellat, quos voluptates rerum illo iste non sunt accusamus praesentium deleniti temporibus, cupiditate, beatae culpa sed.</p>
          <hr>
          <h3>Envíos </h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolores pariatur dolorem provident quas nesciunt nostrum cum recusandae facere! Repudiandae, provident voluptate. Quaerat, id ratione? In temporibus vitae incidunt accusamus.</p>
        </div>

      </div>
    </div>
  </section>
</main>