<main class="legal bg-purple">

  <section class="section__principal">
    <div class="container">
      <div class="row">
        <div class="col-md-7 offset-md-3 col-lg-8 offset-lg-4 privacidad--title mb-60">
          <h2>{{ page.title }}</h2>
        </div>
        <aside class="col-md-3 col-lg-4">
          <ul class="list-unstyled nav-scroll">
            <li class="text-link"><a href="/pages/preguntas-frecuentes">Preguntas frecuentes</a></li>
            <li class="text-link"><a href="/pages/glosario">Glosario</a></li>
            <li class="text-link active">Pagos y envíos</li>
            <li class="text-link"><a href="/pages/aviso-privacidad">Aviso de Privacidad</a></li>
            <li class="text-link"><a href="/pages/politicas-compra">Políticas de compra</a></li>
          </ul>
        </aside>
        <div class="col-md-9 col-lg-8 legal__item legal__privacidad">
          <p>Agrega los productos que quieras adquirir a tu carrito de compra, la opción viene dentro de cada producto. En el carrito de compra llenarás tus datos de envío y te presentaremos dos opciones de pago (efectivo o tarjeta):</p>
          <p>1. Por medio de Paypal con tu tarjeta de crédito o débito American Express, Master Card o Visa. Te garantizamos que tu compra es segura. Paypal es una empresa fiable y que respalda al comprador.</p>
          <p>2. Por medio de Conekta realizando tu pago en efectivo en sucursales de OXXO. Selecciona la opción “Pago en efectivo en OXXO” al hacer tu checkout y te llegará un correo con las instrucciones para hacer el depósito.</p>
          <p>El envío no será procesado hasta que hayas hecho el pago en alguna sucursal.</p>
          <p>Tu pago se actualizará en nuestro sistema sin necesidad de que nos compartas tu ticket, sin embargo te recomendamos conservar foto de tu ticket hasta que tu envío se realice.</p>
          <hr>
          <h3>Envíos </h3>
          <p>Envíos</p>
          <p>Hacemos envíos a toda la República Mexicana por medio de DHL a $99 por orden. Los envíos toman de 2 a 5 días hábiles en llegar a su destino final.</p>
          <p>Si haces un pedido por más de $1,100 pesos el envío es gratuito por medio de DHL.</p>
          <p>Todos nuestros envíos vienen en nuestro distintivo empaque e incluyen muestras gratis. Momiji Beauty respalda todos los envíos y nos aseguramos de que lleguen a su destino, así como también ofrecemos apoyo con las paqueterías que manejamos.</p>
          <p>Para consultar el estatus de tu pedido, puedes hacerlo directamente con tu número de rastreo en: <a href="https://www.logistics.dhl/mx-es/home/rastreo.html">DHL</a>.</p>
          <hr>
          <h3>Dudas sobre tu pedido: </h3>
          <p>El medio oficial de contacto para cualquier duda o aclaración sobre tu compra es help@momijibeauty.com (no redes sociales).</p>
          <p>Escríbenos incluyendo tu número de orden para poder ayudarte con cualquier duda o aclaración sobre tu envío.</p>
        </div>

      </div>
    </div>
  </section>
</main>