<main class="work">

    <section class="section__principal">
    <div class="container">
        <div class="row">
        <div class="col-md-10 mx-md-auto col-lg-6">
            <div class="img-container">
            <img src="{{ 'trabajacon-nosotros_optimized.jpg' | asset_url }}" alt="Trabaja con nosotros">
            </div>
        </div>
        <div class="col-md-11 mx-md-auto col-lg-6">
            <div class="col-md-12 work__title">
            <h1 class="text-link">Se parte del Momiji Team</h4>
            <h2>Únete a nuestro equipo</h2>
            </div>

            <div class="accordions__container mt-30"> 
            <a class="accordion h3">Auxiliar Contable (Monterrey)</a>
            <div class="panel" style="max-height: auto">
                <b>¿Eres organizado, tienes iniciativa, y un acercamiento innovador para completar metas y resolver problemas?</b>
                <p>2 años de experiencia en área contable. Elaboración de estados financieros, facturación, cuentas por pagar y reembolsos, conciliación bancaria, nómina. </p>

                <b>¿Qué ofrecemos?</b>
                <ul class="ul-styled">
                <li>Prestaciones de ley + superiores a ley en vacaciones.</li>
                <li>Ambiente laboral joven y dinámico</li>
                <li>Oportunidad de crecer junto con una Startup </li>
                </ul>
                <p class="text-link">Manda tu CV a <a href="mailto:contact@momijibeauty.com" class="link--orange">contact@momijibeauty.com</a></p>
            </div>

      		{% comment %}  
            <a class="accordion h3">Interns (creatividad y PR, Monterrey)</a>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat make a talent database that leverages.</p>
            </div>

            <a class="accordion h3">Community Manager</a>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat make a talent database that leverages.</p>
            </div>
            {% endcomment %}  
            </div>
        </div>
        </div>
    </div>
    
    </section>
</main>