<main class="contacto bg-purple">
    <section class="section__principal">
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-md-auto col-lg-6">
                    <div class="img-container">
                        <img src="{{ 'contacto_optimizada.jpg' | asset_url }}" alt="Contactanos">
                    </div>
                </div>
                <div class="col-md-11 mx-md-auto col-lg-6 sticker3">
                    <div class="col-md-12 col-lg-10">
                        <h2>Momiji Mayoreo</h2>
                        <b>Nuestro servicio</b>
                        <p>Nos dedicamos a la comercialización y distribución de cosméticos coreanos para el cuidado de la piel.</p>
                        <p>Somos una solución integral en México que hará equipo perfecto contigo y tu negocio. Proporcionamos asesoría y servicio a nuestros clientes anticipándonos a sus necesidades y las tendencias del mercado de belleza.</p>
                        <p></p>
                        <b>¿Por que somos tu mejor opción?</b>
                        <ul>
                            <li>Ofrecemos importaciones formales en México con etiquetado de producto en idioma Español</li>
                            <li>Trato directo con las marcas</li>
                            <li>Envíos a todo México</li>
                            <li>Precios competitivos en México</li>
                        </ul>





                        <a href="/pages/preguntas-frecuentes" class="link--orange">Visita nuestra sección de FAQ</a>
                    </div>
                    <div class="contacto__items">
                        <div class="col-12 col-md-5">
                            <b>Momiji Shop MTY</b>
                            <address>Río Orinoco 414, Local 6, Plaza Selda, Col. Del Valle, SPGG. C.P. 66220, Monterrey, N.L. México.</address>
                            {%- comment -%}<a href="telto:+52 (55) 7825 8810">+52 (55) 7825 8810</a>{%- endcomment -%}
                        </div>
                        <div class="col-12 col-md-5">
                            <b>Momiji Pop Up Shop CDMX</b>
                            <address>Praga 44, Col. Juárez, 4to piso. <br />C.P. 06600, CDMX.</address>
                            {%- comment -%}<a href="telto:+52 (81) 8336 6666">+52 (81) 8336 6666</a>{%-endcomment-%}
                        </div>
                        <div class="col-12 col-md-5">
                            <b>Momiji Palacio de Hierro</b>
                            <address>Palacio de Hierro Polanco, Area Perfumería, Sotano 1. Av. Moliere 222, Polanco, CDMX.</address>
                            {%- comment -%}<a href="telto:+52 (81) 8336 6666">+52 (81) 8336 6666</a>{%-endcomment-%}
                        </div>
                        <div class="col-12 col-md-5">
                            <b>Dudas y preguntas sobre pedidos</b>
                            <a href="mailto:help@momijibeauty.com">help@momijibeauty.com </a>
                        </div>
                        <div class="col-12 col-md-5">
                            <b>Colaboraciones y medios</b>
                            <a href="mailto:press@momijibeauty.com">press@momijibeauty.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>