<main class="legal bg-purple">

{% include 'glosario-modales' %}

  <section class="section__principal">
    <div class="container">
      <div class="row">
        <div class="col-md-7 offset-md-3 col-lg-8 offset-lg-4 privacidad--title mb-60">
          <h2>{{ page.title }}</h2>
        </div>
        {% include 'aside-pages' %}
        <div class="col-10 offset-1 col-md-8 offset-md-1 col-lg-8 offset-lg-0 legal__item legal__glosario" data-id="2">
          {% include 'glosario-a-z' %}
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </section>
</main>