<main class="legal bg-purple">

  <section class="section__principal">
    <div class="container">
      <div class="row">

        <div class="col-md-7 offset-md-3 col-lg-8 offset-lg-4 privacidad--title mb-60">
          <h2>{{ page.title }}</h2>
        </div>
        
        <aside class="col-md-3 col-lg-4">
          <ul class="list-unstyled nav-scroll">
            <li class="text-link"><a href="/pages/preguntas-frecuentes">Preguntas frecuentes</a></li>
            <li class="text-link"><a href="/pages/glosario">Glosario</a></li>
            <li class="text-link"><a href="/pages/pagos-envios">Pagos y envíos</a></li>
            <li class="text-link"><a href="/pages/aviso-privacidad">Aviso de Privacidad</a></li>
            <li class="text-link"><a href="/pages/politicas-compra">Políticas de compra</a></li>
            <li class="text-link active">Wholesale</li>
          </ul>
        </aside>

        <div class="col-md-9 col-lg-8 legal__item legal__preguntas">
          <div class="accordions__container">

            <a class="accordion h3">Quiero ser mayorista/vender productos de Momiji en mi negocio</a>
            <div class="panel" id="wholesale">
              <p>Nos dedicamos a la comercialización y distribución de cosméticos coreanos para el cuidado de la piel. Somos una solución integral en México que hará equipo perfecto contigo y tu negocio. Proporcionamos asesoría y servicio a nuestros clientes anticipándonos a sus necesidades y las tendencias del mercado de belleza.</p>
              <p>¿Por que somos tu mejor opción?</p>
              <li>Ofrecemos importaciones formales en México con etiquetado de producto en idioma Español</li>
              <li>Trato directo con las marcas</li>
              <li>Envíos a todo México </li>
              <li>Precios competitivos en México</li>
              <p>¡Contactanos!</p>
              <p>Escríbenos a ventas@bellezaasiatica.com</p>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
</main>