<main class="legal bg-purple">

  <section class="section__principal">
    <div class="container">
      <div class="row">
        <div class="col-md-7 offset-md-3 col-lg-8 offset-lg-4 privacidad--title mb-60">
          <h2>{{ page.title }}</h2>
        </div>
        <aside class="col-md-3 col-lg-4">
          <ul class="list-unstyled nav-scroll">
            <li class="text-link"><a href="/pages/preguntas-frecuentes">Preguntas frecuentes</a></li>
            <li class="text-link"><a href="/pages/glosario">Glosario</a></li>
            <li class="text-link active">Pagos y envíos</li>
            <li class="text-link"><a href="/pages/aviso-privacidad">Aviso de Privacidad</a></li>
            <li class="text-link"><a href="/pages/politicas-compra">Políticas de compra</a></li>
            <li class="text-link"><a href="/pages/wholesale">Wholesale</a></li>
          </ul>
        </aside>
        <div class="col-md-9 col-lg-8 legal__item legal__privacidad">
          <p>Agrega los productos que quieras adquirir a tu carrito de compra, la opción viene dentro de cada producto. En el carrito de compra llenarás tus datos de envío y te presentaremos dos opciones de pago (efectivo o tarjeta):</p><br>
          <p>1. Por medio de Mercadopago para pagos con tarjeta, pagos en efectivo o transferencia: Al dar click en el ícono de Mercadopago te dará la opción de pagar utilizando cualquier tarjeta de crédito o débito American Express, Master Card o Visa. También puedes elegir pagar en efectivo en cualquier sucursal afiliada a Mercadopago (Oxxo, 7Eleven, Bancos, Farmacias de Ahorro, etc) o puedes elegir hacer una transferencia electrónica. Al elegir pago en efectivo o por transferencia, te enviaremos los datos a tu correo para que puedas proceder con el pago.</p><br>
          <p>2. Por medio de Paypal con tu tarjeta de crédito o débito American Express, Master Card o Visa. Te garantizamos que tu compra es segura. Paypal respalda todas las compras realizadas por medio de ellos.</p><br>
          <p>3. Por medio de Conekta realizando tu pago en efectivo en sucursales de OXXO. Selecciona la opción “Pago en efectivo en OXXO” al hacer tu checkout y te llegará un correo con las instrucciones para hacer el depósito.</p><br>
          <p>El envío no será procesado hasta que hayas hecho el pago en alguna sucursal.</p><br>
          <p>Tu pago se actualizará en nuestro sistema sin necesidad de que nos compartas tu ticket, sin embargo te recomendamos conservar foto de tu ticket hasta que tu envío se realice.</p><br>
          <p>4. Por Kueski Pay:<br>
          Elige Kueski Pay para adquirir tus productos sin necesidad de una tarjeta de crédito, elegir el plazo más conveniente para ti a una tasa de interés personalizada.<br>
          Pasos para utilizar KueskiPay:<br>
          Paso 1: Llena tu carrito de compras.<br>
          Paso 2: Selecciona a Kueski Pay como forma de pago en el checkout del comercio.<br>
          Paso 3: Completa el formulario con tus datos.<br>
          Paso 4: ¡Descubre si tu crédito fue autorizado y disfruta tu compra!<br>
          Paso 5: Tu compra es segura, KueskiPay paga directamente la compra a Momiji.<br>
          Paso 6: Paga a tiempo en el plazo que elegiste.<br>
          (Podrás consultar los detalles de tu crédito en tu perfil desde www.kueski.com/kueskipay)
          </p>
          <hr>
          <h3>Envíos </h3>
          <p>Hacemos envíos a toda la República Mexicana por medio de DHL a $50 por orden. Los envíos toman de 3 a 6 días hábiles en llegar a su destino final, sin embargo, debido a la contingencia actual y la temporada alta los paquetes pueden demorar un poco más en su entrega. Te pedimos comprensión para considerar hasta 10 días hábiles.</p><br>
          <p>Si haces un pedido por más de $1,500 pesos el envío es gratuito por medio de DHL.</p><br>
          <p>Todos nuestros envíos vienen en nuestro distintivo empaque e incluyen muestras gratis. Momiji Beauty respalda todos los envíos y nos aseguramos de que lleguen a su destino, así como también ofrecemos apoyo con las paqueterías que manejamos.</p><br>
          <p>Para consultar el estatus de tu pedido, puedes hacerlo directamente con tu número de rastreo en: <a href="https://www.logistics.dhl/mx-es/home/rastreo.html">DHL</a>.</p>
          <hr>
          <h3>Dudas sobre tu pedido: </h3>
          <p>El medio oficial de contacto para cualquier duda o aclaración sobre tu compra es help@momijibeauty.com (no redes sociales).</p><br>
          <p>Escríbenos incluyendo tu número de orden para poder ayudarte con cualquier duda o aclaración sobre tu envío.</p>
        </div>

      </div>
    </div>
  </section>
</main>