<main class="about bg-purple">
    <section class="section__principal">
        <div class="container">
            {% section 'quienessomos-top' %}
            {% section 'quienessomos-fotoytexto' %}
            {% section 'quienessomos-infoiconos' %}
        </div>
    </section>
</main>