    <main class="legal bg-purple">

    <div class="modal" id="modal" data-info="1">
      <div class="background"></div>
        <div class="modal__container">
          <div class="close-btn" id="close"></div>
          <h1>Ácido hialurónico</h1>
          <div class="modal__container-info">
            <img src="img/svg/products/crema-ojos.svg" alt="Acido Hialuronico" />
            <b>¿Qué es el ácido hialurónico?</b>
            <p>Sustancia que forma una película protectora sobre la piel que previene la deshidratación. Protege contra los agentes atmosféricos, hidrata y suaviza. Se inyecta para rellenar las arrugas del rostro o aumentar el volumen de los labios.</p>
          </div>
        </div>
    </div>

    <div class="modal" id="modal" data-info="22">
      <div class="background"></div>
        <div class="modal__container">
          <div class="close-btn" id="close"></div>
          <h1>Data-info=22</h1>
          <div class="modal__container-info">
            <img src="img/svg/products/crema-ojos.svg" alt="Acido Hialuronico" />
            <b>Data 22</b>
            <p>Bla ble bli blo bliuuu. Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam minus fugiat maxime quisquam, ullam architecto ducimus? Ducimus iusto pariatur molestiae eaque! Harum libero culpa nobis obcaecati, placeat pariatur nam accusamus.</p>
          </div>
        </div>
    </div>

      <section class="section__principal">
        <div class="container">
          <div class="row">
            <div class="col-md-7 offset-md-3 col-lg-8 offset-lg-4 privacidad--title mb-60">
              <h2>Aviso de privacidad</h2>
            </div>
            <aside class="col-md-3 col-lg-4">
              <ul class="list-unstyled nav-scroll">
                <li class="text-link" id="1">Preguntas frecuentes</li>
                <li class="text-link active" id="2">Glosario</li>
                <li class="text-link" id="3">Pagos y envíos</li>
                <li class="text-link" id="4">Aviso de Privacidad</li>
                <li class="text-link" id="5">Políticas de compra</li>
              </ul>
            </aside>
            <div class="col-md-9 col-lg-8 legal__item legal__privacidad" data-id="4" style="display: none">
              <h3>Privacidad </h3>
              <p>Se puede navegar el sitio Momiji sin dar ninguna información o datos personales a cambio. Sus datos personales serán pedidos en el momento de una compra.Toda la información personal que proporcione durante el registro se utiliza para procesar sus pedidos o ponerse en contacto con usted en relación con una transacción en particular. Momiji garantiza que la información que introduzca no será compartida con ninguna organización externa o terceros. Podemos usar su información de contacto para ponerse en contacto con usted acerca de nuevos productos, características o promociones especiales. Si no desea recibir este tipo de comunicaciones, puede darse de baja de la lista de correo.</p>
              <hr>
              <h3>Seguridad</h3>
              <p>Momiji utiliza PayPal para procesar el pago de tarjeta de crédito. Paypal es el encargado de la seguridad en su tarjeta de crédito. Al pagar con PayPal, la tienda no volverá a ver los dígitos de su tarjeta de crédito de su cuenta bancaria. Su información financiera es segura y sus datos están protegidos por la Política de protección del comprador de PayPal contra pagos no autorizados en su cuenta. Momiji no recibe ni guarda información de Paypal.</p>
            </div>
            <div class="col-10 offset-1 col-md-8 offset-md-1 col-lg-8 offset-lg-0 legal__item legal__glosario" data-id="2">
              <ol class="ol--glosary mb-90">
                <li>
                  <ul class="list-unstyled columns" data-columns="2">
                    <li id="1">Agua</li>
                    <li id="22">Aceite en agua</li>
                    <li id="1">Ácido glicólico</li>
                    <li id="1">Ácido hialurónico</li>
                    <li id="1">Ácidos grasos esenciales</li>
                    <li id="1">Acné</li>
                    <li id="1">AHA</li>
                    <li id="1">Alfahidroxiácidos</li>
                    <li id="1">Aloe vera</li>
                    <li id="1">Astringente</li>
                    <li id="1">Autobronceante</li>
                  </ul>
                </li>
                <li>
                  <ul class="list-unstyled columns" data-columns="2">
                    <li id="1">Agua</li>
                    <li id="1">Aceite en agua</li>
                    <li id="1">Ácido glicólico</li>
                    <li id="1">Ácido hialurónico</li>
                    <li id="1">Ácidos grasos esenciales</li>
                    <li id="1">Acné</li>
                    <li id="1">AHA</li>
                    <li id="1">Alfahidroxiácidos</li>
                    <li id="1">Aloe vera</li>
                    <li id="1">Astringente</li>
                    <li id="1">Autobronceante</li>
                  </ul>
                </li>
              </ol>
              <div class="loader"></div>
            </div>
            <div class="col-md-9 col-lg-8 legal__item legal__preguntas" data-id="1" style="display: none">
              <div class="accordions__container"> 
                <a class="accordion h3">¿Cómo hago una compra? </a>
                <div class="panel" style="max-height: auto">
                  <b>¡Es muy fácil! </b>
                  <p>01. Agrega los productos que quieras adquirir a tu carrito de compra; el botón viene dentro de la página de cada producto. </p>
                  <p>02. Cuando tu orden esté completa, da click en Check Out, eso te llevará a una página donde podrás llenar tus datos de envío. </p>
                  <p>03. Te presentaremos dos opciones de pago: Paypal con Tarjeta de Crédito o ComproPago para pagos en efectivo en los establecimientos mencionados ahí/ SPEI. Elige el que mejor te funcione.</p>
                  <p>04. Después te deberá llegar un email de confirmación. </p>
                  <p>*Si elegiste ComproPago, el envío no será procesado hasta que hayas hecho el pago en alguna sucursal o por medio de transferencia.</p>
                </div>

                <a class="accordion h3">¿Qué tipos de pago manejan?   </a>
                <div class="panel">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat make a talent database that leverages.</p>
                </div>

                <a class="accordion h3">¿Cuánto cuesta el envío?  </a>
                <div class="panel">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat make a talent database that leverages.</p>
                </div>

                <a class="accordion h3">¿Cuánto se tardará en llegarme mi pedido?   </a>
                <div class="panel">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat make a talent database that leverages.</p>
                </div>

                <a class="accordion h3">El producto que quiero está agotado, ¿qué hago?  </a>
                <div class="panel">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat make a talent database that leverages.</p>
                </div>

                <a class="accordion h3">¿Dan muestras gratis en todos sus envíos?  </a>
                <div class="panel">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat make a talent database that leverages.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>