<main class="contacto bg-purple">
    <section class="section__principal">
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-md-auto col-lg-6">
                    <div class="img-container">
                        <img data-src="{{ 'contacto_optimizada.jpg' | asset_url }}" alt="Contactanos" class="lazyload">
                    </div>
                </div>
                <div class="col-md-11 mx-md-auto col-lg-6 sticker3">
                    <div class="col-md-12 col-lg-10">
                        <h2>Queremos saber un poco más sobre ti</h2>
                        <p>¿Dudas sobre tu pedido? ¿Todo quieres y no sabes qué comprar? Envíanos un e-mail, nos pondremos en contacto contigo en menos de 24 hrs &lt;3 </p>
                        <a href="/pages/preguntas-frecuentes" class="link--orange">Visita nuestra sección de FAQ</a>
                    </div>
                    <div class="contacto__items">
                        <div class="col-12 col-md-5">
                            <b>WhatsApp</b>
                            <a href="https://wa.me/52{{shop.metafields.contacto.whatsapp}}">+52 1 {{shop.metafields.contacto.whatsapp}}</a>
                        </div>
                        <div class="col-12 col-md-5">
                            <b>Dudas y preguntas sobre pedidos</b>
                            <a href="mailto:help@momijibeauty.com">help@momijibeauty.com </a>
                        </div>
                        <div class="col-12 col-md-5">
                            <b>Colaboraciones y medios</b>
                            <a href="mailto:press@momijibeauty.com">press@momijibeauty.com</a>
                        </div>
                        <div class="col-12 col-md-5">
                            <b>Ventas al mayoreo</b>
                            <a href="mailto:ventas@bellezaasiatica.com">ventas@bellezaasiatica.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>