<main class="legal bg-purple">

  <section class="section__principal">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-lg-8 privacidad--title mb-60">
          <h2>{{ page.title }}</h2>
        </div>
        <div class="col-md-9 col-lg-8 legal__item legal__privacidad">
          {{ page.content }}
          {% comment %} <p>¡Esperamos que estés muy bien!</p>
          <p>Nos encontramos trabajando desde casa y tenemos algunas noticias que queremos compartirles sobre las acciones que estamos tomando ante esta situación.</p>
          <br>
          <h3>Sitio Web</h3>
          <br>
          <p>Queremos facilitar el permanecer en casa y evitar exponerse, por lo cual seguimos trabajando para ustedes con compras y envíos seguros a través de www.momijibeauty.com
          <br>
          Hemos bajado el precio de los envíos a $50mxn para mayor comodidad en pedidos desde casa.
          <br>
          Los envíos son gratis en compras mayores a $1500</p>
        <br>
        <h3>Tiendas</h3>
        <br>
        <p>Nuestras tiendas en Monterrey y en CDMX Palacio de Hierro Polanco permanecerán cerradas hasta nuevo aviso. Estamos constántemente monitoreando la situación y los avisos gubernamentales para tomar todas las medidas necesarias. Noticias sobre la re-apertura de nuestros espacios físicos serán comunicados vía nuestro newsletter y redes sociales.</p>
        <br>
        <h3>Políticas de envío</h3>
        <br>
        <p>Nuestros envíos serán de 3-6 días hábiles (sin contar días festivos, ni fines de semana) Puede haber algo de retraso en envíos debido al volumen que están manejando las paqueterías.</p>
        <br>
        <h3>Nuestro equipo</h3>
        <p>Nuestro equipo de almacén se encuentra haciendo sus pedidos de manera higiénica y tomando turnos.</p>
        <br>
        <h3>Momiji Points</h3>
        <br>
        <p>¡Extra puntos! Hemos lanzado un programa de lealtad, recibe inmediatamente puntos al momento de crear una cuenta.</p>
        <br>
        <h3>Contáctanos</h3>
        <br>
        <p>Nuestro equipo entero está trabajando al 100% en asistirte y servirte de la mejor manera por nuestros canales digitales. Si tienes cualquier duda sobre un pedido por favor escríbenos por mail a help@momijibeauty.com</p>
        <br>
        <p>Guardémonos lo más posible y aprovechemos estos momentos para reflexionar y generar un impacto positivo en nuestras vidas, la de los demás y del planeta.</p>
        <br>
        <p>Cuidándote, cuidas a los demas.</p>
        <br>
        <p>Atentamente,<br>Equipo Momiji</p>
          <hr> {% endcomment %}
        </div>

      </div>
    </div>
  </section>
</main>