<main class="products">
    {%- comment -%}
        Section de search contiene el código de la búsqueda.
        Aquí solo se despliega la sección (este es el template).
    {%- endcomment -%}
    {% section 'search' %}
</main>