<div class="ask tag">
    <a href="javascript:void(0);" onclick="olark('api.box.expand')">
        <img src={{ 'miffy.svg' | asset_url }} alt="Ask"> 
            <span>Ask our expert </span>
    </a>
</div>