<div class="header__banner">
{% if section.settings.link_barra_anuncios == blank %}
    <p>{{ section.settings.barra_anuncios }}</p>        
 {% else %}
    <a href="{{ section.settings.link_barra_anuncios }}">{{ section.settings.barra_anuncios }}</a>
{% endif %}
</div>

