<div class="header__nav d-flex justify-content-between">
  <nav class="d-flex align-items-baseline">

          <ul class="list-unstyled d-inline-flex flex-wrap w-100">
            {% for tag in blog.all_tags %}

              {% if current_tags contains tag %}
                <li class="nav-item">{{ tag }}</li>
              {% else %}
                <li class="nav-item">{{ tag | link_to_tag: tag }}</li>
              {% endif %}

            {% endfor %}
          </ul>

  </nav>
</div>