{% comment %} /snippets/collection-sorting.liquid {% endcomment %}
<select name="sort-by" id="sort-by" class="js-collection-sort">
  <option value="manual">Nuestra selección</option>
  <option value="price-ascending">Precio, bajo a alto</option>
  <option value="price-descending">Precio, alto a bajo</option>
  <option value="title-ascending">Alfabético, A-Z</option>
  <option value="title-descending">Alfabético, Z-A</option>
  <option value="created-ascending">Fecha, nuevos al último</option>
  <option value="created-descending">Fecha, nuevos primero</option>
  <option value="best-selling">Best sellers</option>
</select>