<div class="filter__modal filtr" style="display: block;">

    <div class="close-btn" id="close"></div>

    <div class="row row-mobile">
      <div class="col-12">
        <h3>Categorías</h3>
      </div>
    </div>

    <div class="row filters type row-mobile">
      <div class="col-12">
        <div class="filters__item" data-info="skincare">
          <a class="h3 nav-item" data-info="skincare">Skincare</a>
          <div class="filter__applied"></div>
        </div>
        <div class="filters__item">
          <a class="h3 nav-item" data-info="marcas">Marcas</a>
        </div>
        <div class="filters__item">
          <a class="h3 nav-item" data-info="kit momiji">Kit Momiji</a>
        </div>

      </div>

      <div class="col-12 filter__btns">
        <a href="javascript:void(0)" class="btn__main deseleccionar">Borrar</a>
        <a href="javascript:void(0)" class="btn__main aplicar">Aplicar</a>
      </div>
    </div>


    <div class="subFiltros">
      <div class="modulo--sub" data-id="skincare" style="display: none;">

        <div class="row">
          <div class="col-12 breadcrumb">
            <a class="breadcrumb--back">Categorías </a><span class="text-link"> / </span><a class="breadcrumb--this"> Rutina</a>
          </div>
        </div>

        <div class="row subfilters">
          <div class="col-12">

            <div class="subfilters__item">
              <a>
                <span class="text-link">Limpiadores</span>
              </a>
            </div>

            <div class="subfilters__item">
              <a>
                <span class="text-link">Toners</span>
              </a>
            </div>

            <div class="subfilters__item">
              <a>
              <span class="text-link">tratamientos</span>
              </a>
            </div>

            <div class="subfilters__item">
              <a>
              <!----><span class="text-link">exfoliantes</span>
              </a>
            </div>

            <div class="subfilters__item">
              <a>
              <!----><span class="text-link">esencias</span>
              </a>
            </div>

            <div class="subfilters__item">
              <a>
              <!----><span class="text-link">humectantes</span>
              </a>
            </div>
            <div class="filter__btns">
              <a href="javascript:void(0)" class="btn__main deseleccionar">Borrar</a>
              <a href="javascript:void(0)" class="btn__main apply">Aplicar</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>