<div class="footer__blog">
    <b>Compártelo</b>
    <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}"><i class="ico--fb-blog"></i></a>
    <a target="_blank" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}"><i class="ico--tw-blog"></i></a>
</div>