{%- comment -%} kp-cart-snippet {%- endcomment -%}
<!-- Trigger/Open The Modal -->
<div id="kueski-pay-ppd-message"
     data-kueskipay-class="Product"
     data-kueskipay-location="Cart"
     data-kueskipay-product-name="{{ product.title }}"
     data-kueskipay-merchant-name="{{ shop.name }}"
     data-kueskipay-purchase-value="{{ product.price }}"
     data-kueskipay-api-key="ac1b792f-3d63-4ba9-a7c7-3352049449ad"
>
</div>
<link rel="stylesheet" href="https://cdn.kueskipay.com/v1/assets/plugin/kp-product-page.min.css">
<script src="https://cdn.kueskipay.com/v1/assets/plugin/moment.min.js"></script>
<script src="https://cdn.kueskipay.com/v1/assets/plugin/bi-winstallmentsjs.js" charset="utf-8"></script>
<script src="https://cdn.kueskipay.com/v1/assets/plugin/kp-product-page.js" data-kueskipay-sandbox="true" charset="utf-8"></script> 
