{%- comment -%} kp-cart-snippet {%- endcomment -%}
<div id="kueski-pay-ppd-message"
     data-kueskipay-class="Product"
     data-kueskipay-location="Cart"
     data-kueskipay-product-name="{{ product.title }}"
     data-kueskipay-merchant-name="{{ shop.name }}"
     data-kueskipay-purchase-value="{{ cart.total }}"
     data-kueskipay-api-key="ac1b792f-3d63-4ba9-a7c7-3352049449ad"
     data-kueskipay-font-color="#0a0a0a"
     data-kueskipay-font-size="14"
     data-kueskipay-font-family="GT-Walsheim"
     data-kueskipay-logo-color="black"
     data-kueskipay-trigger-color="#F06C4E"
     data-kueskipay-trigger-weight="400"
>
</div>