<!-- customer's total (approved + pending) points -->
<p>Mi total de puntos: </p>
<span data-lion-points></span>

<!-- customer's approved (redeemable) points -->
<p>Puntos aprobados: </p>
<span data-lion-points="approved"></span>

<!-- customer's pending points -->
<p>Puntos pendientes de aprobar: </p>
<span data-lion-points="pending"></span>

<!-- customer's spent points -->
<p>Puntos gastados: </p>
<span data-lion-points="spent"></span>