{% comment %} <div class="modal__newsletter"> {% endcomment %}
	<div class="close-btn" id="close"></div>
	<div class="resena__container">
		<form action="" class="col-12 col-lg-12 mx-auto footer__newsletter">
        <label for="newsletter"><b>Unete al club Momiji para recibir noticias, novedades y descuentos para subscriptores.</b></label>
        <div class="field-container"><input type="text" placeholder="Tu correo aquí"><button class="btn__tri">▾</button></div>
      </form>
	</div>
{% comment %} </div> {% endcomment %}