{%- comment -%}
<div class="pagination">
  {{ paginate | default_pagination }}
</div>

class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets ml-3 mb-3 w-100"

{%- endcomment -%}

<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">{{ paginate | default_pagination }}</div>
