<div class="modal modal-z" id="modal-ask" aria-hidden="true">
    <div class="modal--overlay"  data-micromodal-close>
    <div class="background"></div>
        <div class="drawer-module ask-modal__container">
            <div class="close-btn" id="close" data-micromodal-close>
            </div>
            <h1>Ask our expert</h1>
            <div class="ask-modal__container-info">

{% form 'contact', class: "" %}
    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
    <p>{{ 'password.general.thanks_title' | t }}</p>
    {% else %}

<label for="email">email:</label>
<input type="email" id="askOurExpert" name="conatct[email]" placeholder="email@email.com">

<label for="message">¿Qué te gustaría saber?</label>
<textarea name="contact[body]" placeholder="Escribe aquí tu pregunta."></textarea>

    {% endif %}

<input type="submit" class="btn" value="{{ 'contact.form.send' | t }}">
{% endform %}

            </div>
        </div>
    </div>
</div>

<style>
.modal-z {
    z-index:99999999 !important;
}
</style>