<?xml version="1.0" encoding="UTF-8"?>
<svg width="73px" height="76px" viewBox="0 0 73 76" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>vectores</title>
    <defs>
        <filter x="-60.4%" y="-60.4%" width="220.9%" height="220.9%" filterUnits="objectBoundingBox" id="filter-1">
            <feGaussianBlur stdDeviation="2" in="SourceGraphic"></feGaussianBlur>
        </filter>
    </defs>
    <g id="768" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Momiji's-Beauty-Test-02" transform="translate(-268.000000, -375.000000)">
            <g id="Content">
                <g id="Respuestas" transform="translate(79.000000, 348.000000)">
                    <g id="Respuesta-2" transform="translate(160.000000, 0.000000)">
                        <g id="vectors">
                            <g id="vectores" transform="translate(30.000000, 28.000000)">
                                <path d="M8.88685,11.5990875 C8.88685,7.5180875 12.193475,4.2123375 16.272725,4.2123375 C20.35285,4.2123375 23.661225,7.5180875 23.661225,11.5990875 C23.661225,15.6792125 20.35285,18.9849625 16.272725,18.9849625 C12.193475,18.9849625 8.88685,15.6792125 8.88685,11.5990875" id="Fill-1" fill="#FFFFFF"></path>
                                <path d="M46.2879375,11.5990875 C46.2879375,7.5180875 49.5954375,4.2123375 53.6746875,4.2123375 C57.7548125,4.2123375 61.0623125,7.5180875 61.0623125,11.5990875 C61.0623125,15.6792125 57.7548125,18.9849625 53.6746875,18.9849625 C49.5954375,18.9849625 46.2879375,15.6792125 46.2879375,11.5990875" id="Fill-3" fill="#FFFFFF"></path>
                                <path d="M61.970475,19.6979125 C64.01185,17.6066625 65.2736,14.7515375 65.2736,11.5989125 C65.2736,5.1930375 60.08135,-8.75e-05 53.675475,-8.75e-05 C48.906725,-8.75e-05 44.815225,2.8786625 43.0311,6.9920375 C40.4411,6.3497875 37.7321,6.0032875 34.94085,6.0032875 C32.171475,6.0032875 29.48435,6.3454125 26.9101,6.9780375 C25.124225,2.8725375 21.0371,-8.75e-05 16.272725,-8.75e-05 C9.8686,-8.75e-05 4.675475,5.1930375 4.675475,11.5989125 C4.675475,14.7322875 5.92235,17.5699125 7.942725,19.6576625 C3.8416,25.2200375 1.415225,32.0905375 1.415225,39.5297875 C1.415225,58.0465375 16.424975,73.0562875 34.94085,73.0562875 C53.4576,73.0562875 68.4691,58.0465375 68.4691,39.5297875 C68.4691,32.1080375 66.053225,25.2524125 61.970475,19.6979125" id="Fill-5" fill="#FFF53E"></path>
                                <path d="M61.970475,19.6979125 C64.01185,17.6066625 65.2736,14.7515375 65.2736,11.5989125 C65.2736,5.1930375 60.08135,-8.75e-05 53.675475,-8.75e-05 C48.906725,-8.75e-05 44.815225,2.8786625 43.0311,6.9920375 C40.4411,6.3497875 37.7321,6.0032875 34.94085,6.0032875 C32.171475,6.0032875 29.48435,6.3454125 26.9101,6.9780375 C25.124225,2.8725375 21.0371,-8.75e-05 16.272725,-8.75e-05 C9.8686,-8.75e-05 4.675475,5.1930375 4.675475,11.5989125 C4.675475,14.7322875 5.92235,17.5699125 7.942725,19.6576625 C3.8416,25.2200375 1.415225,32.0905375 1.415225,39.5297875 C1.415225,58.0465375 16.424975,73.0562875 34.94085,73.0562875 C53.4576,73.0562875 68.4691,58.0465375 68.4691,39.5297875 C68.4691,32.1080375 66.053225,25.2524125 61.970475,19.6979125 Z" id="Stroke-7" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M22.85605,8.2571125 C21.63455,5.8587375 19.14955,4.2111125 16.2743,4.2111125 C12.1933,4.2111125 8.8858,7.5186125 8.8858,11.5987375 C8.8858,13.4379875 9.563925,15.1162375 10.67605,16.4094875 C14.0553,12.8622375 18.203675,10.0569875 22.85605,8.2571125" id="Fill-9" fill="#FFFFFF"></path>
                                <path d="M59.24205,16.444925 C60.37255,15.1473 61.06205,13.45505 61.06205,11.599175 C61.06205,7.51905 57.755425,4.212425 53.6753,4.212425 C50.7913,4.212425 48.298425,5.8688 47.08305,8.27855 C51.72755,10.08455 55.868925,12.894175 59.24205,16.444925" id="Fill-11" fill="#FFFFFF"></path>
                                <path d="M23.78495,45.9787125 C23.78495,39.8169625 28.780325,34.8215875 34.942075,34.8215875 C41.103825,34.8215875 46.0992,39.8169625 46.0992,45.9787125 C46.0992,52.1404625 41.103825,57.1358375 34.942075,57.1358375 C28.780325,57.1358375 23.78495,52.1404625 23.78495,45.9787125" id="Fill-13" fill="#FFFFFF"></path>
                                <g id="Group-18" transform="translate(0.000000, 27.556375)">
                                    <path d="M11.0205375,11.9735 C12.0320375,16.415875 18.0152875,20.579125 20.8205375,21.835625 C24.9111625,23.667 27.9754125,26.13975 27.9754125,30.758875 C27.9754125,34.971125 25.4597875,38.826375 18.7450375,38.826375 C11.4807875,38.826375 -8.75000005e-05,30.87525 -8.75000005e-05,16.9365 C-8.75000005e-05,11.381125 0.4829125,7.525 3.2715375,0.816375" id="Fill-15" fill="#FFF53E"></path>
                                    <path d="M11.0205375,11.9735 C12.0320375,16.415875 18.0152875,20.579125 20.8205375,21.835625 C24.9111625,23.667 27.9754125,26.13975 27.9754125,30.758875 C27.9754125,34.971125 25.4597875,38.826375 18.7450375,38.826375 C11.4807875,38.826375 -8.75000003e-05,30.87525 -8.75000003e-05,16.9365 C-8.75000003e-05,11.381125 0.4829125,7.525 3.2715375,0.816375" id="Stroke-17" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                                <g id="Group-22" transform="translate(41.125000, 27.556375)">
                                    <path d="M17.738525,11.9735 C16.727025,16.415875 10.743775,20.579125 7.93765,21.835625 C3.8479,23.667 0.78365,26.13975 0.78365,30.758875 C0.78365,34.971125 3.297525,38.826375 10.01315,38.826375 C17.278275,38.826375 28.75915,30.87525 28.75915,16.9365 C28.75915,11.381125 28.27615,7.525 25.487525,0.816375" id="Fill-19" fill="#FFF53E"></path>
                                    <path d="M17.738525,11.9735 C16.727025,16.415875 10.743775,20.579125 7.93765,21.835625 C3.8479,23.667 0.78365,26.13975 0.78365,30.758875 C0.78365,34.971125 3.297525,38.826375 10.01315,38.826375 C17.278275,38.826375 28.75915,30.87525 28.75915,16.9365 C28.75915,11.381125 28.27615,7.525 25.487525,0.816375" id="Stroke-21" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                                <path d="M31.477075,36.057175 C31.477075,34.14355 33.027575,32.592175 34.942075,32.592175 C36.854825,32.592175 38.407075,34.14355 38.407075,36.057175 C38.407075,37.971675 36.854825,39.522175 34.942075,39.522175 C33.027575,39.522175 31.477075,37.971675 31.477075,36.057175" id="Fill-23" fill="#000000"></path>
                                <path d="M24.1455375,27.6003 C24.1455375,25.10305 25.3801625,23.079175 26.9035375,23.079175 C28.4277875,23.079175 29.6606625,25.10305 29.6606625,27.6003 C29.6606625,30.09755 28.4277875,32.121425 26.9035375,32.121425 C25.3801625,32.121425 24.1455375,30.09755 24.1455375,27.6003" id="Fill-25" fill="#000000"></path>
                                <path d="M40.2227875,27.6003 C40.2227875,25.10305 41.4574125,23.079175 42.9807875,23.079175 C44.5041625,23.079175 45.7387875,25.10305 45.7387875,27.6003 C45.7387875,30.09755 44.5041625,32.121425 42.9807875,32.121425 C41.4574125,32.121425 40.2227875,30.09755 40.2227875,27.6003" id="Fill-27" fill="#000000"></path>
                                <line x1="37.90115" y1="47.1023875" x2="31.9844" y2="47.1023875" id="Stroke-29" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></line>
                                <path d="M11.9818125,33.78935 C11.9818125,36.5316 14.2043125,38.7541 16.9465625,38.7541 C19.6888125,38.7541 21.9113125,36.5316 21.9113125,33.78935 C21.9113125,31.0471 19.6888125,28.8246 16.9465625,28.8246 C14.2043125,28.8246 11.9818125,31.0471 11.9818125,33.78935" id="Fill-31" fill="#F06C4E" filter="url(#filter-1)"></path>
                                <line x1="20.73435" y1="32.3393" x2="15.3811" y2="32.3393" id="Stroke-33" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></line>
                                <line x1="19.2962875" y1="35.2172625" x2="13.2736625" y2="35.2172625" id="Stroke-35" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></line>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>