<?xml version="1.0" encoding="UTF-8"?>
<svg width="73px" height="76px" viewBox="0 0 73 76" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>vectores</title>
    <defs>
        <filter x="-60.4%" y="-60.4%" width="220.9%" height="220.9%" filterUnits="objectBoundingBox" id="filter-1">
            <feGaussianBlur stdDeviation="2" in="SourceGraphic"></feGaussianBlur>
        </filter>
        <filter x="-60.4%" y="-60.4%" width="220.9%" height="220.9%" filterUnits="objectBoundingBox" id="filter-2">
            <feGaussianBlur stdDeviation="2" in="SourceGraphic"></feGaussianBlur>
        </filter>
    </defs>
    <g id="768" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Momiji's-Beauty-Test-02" transform="translate(-428.000000, -375.000000)">
            <g id="Content">
                <g id="Respuestas" transform="translate(79.000000, 348.000000)">
                    <g id="Respuesta-3" transform="translate(320.000000, 0.000000)">
                        <g id="vectors">
                            <g id="vectores" transform="translate(30.000000, 28.000000)">
                                <path d="M8.88615,11.5990875 C8.88615,7.5180875 12.19365,4.2123375 16.2729,4.2123375 C20.353025,4.2123375 23.6614,7.5180875 23.6614,11.5990875 C23.6614,15.6792125 20.353025,18.9849625 16.2729,18.9849625 C12.19365,18.9849625 8.88615,15.6792125 8.88615,11.5990875" id="Fill-1" fill="#FFFFFF"></path>
                                <path d="M46.2881125,11.5990875 C46.2881125,7.5180875 49.5956125,4.2123375 53.6739875,4.2123375 C57.7541125,4.2123375 61.0624875,7.5180875 61.0624875,11.5990875 C61.0624875,15.6792125 57.7541125,18.9849625 53.6739875,18.9849625 C49.5956125,18.9849625 46.2881125,15.6792125 46.2881125,11.5990875" id="Fill-3" fill="#FFFFFF"></path>
                                <path d="M61.969775,19.6979125 C64.01115,17.6066625 65.273775,14.7515375 65.273775,11.5989125 C65.273775,5.1930375 60.081525,-8.75e-05 53.67565,-8.75e-05 C48.9069,-8.75e-05 44.8154,2.8786625 43.031275,6.9920375 C40.441275,6.3497875 37.732275,6.0032875 34.941025,6.0032875 C32.17165,6.0032875 29.48365,6.3454125 26.910275,6.9780375 C25.1244,2.8725375 21.037275,-8.75e-05 16.2729,-8.75e-05 C9.8679,-8.75e-05 4.67565,5.1930375 4.67565,11.5989125 C4.67565,14.7322875 5.922525,17.5699125 7.9429,19.6576625 C3.841775,25.2200375 1.414525,32.0905375 1.414525,39.5297875 C1.414525,58.0465375 16.42515,73.0562875 34.941025,73.0562875 C53.457775,73.0562875 68.469275,58.0465375 68.469275,39.5297875 C68.469275,32.1080375 66.052525,25.2524125 61.969775,19.6979125" id="Fill-5" fill="#FFF53E"></path>
                                <path d="M61.969775,19.6979125 C64.01115,17.6066625 65.273775,14.7515375 65.273775,11.5989125 C65.273775,5.1930375 60.081525,-8.75e-05 53.67565,-8.75e-05 C48.9069,-8.75e-05 44.8154,2.8786625 43.031275,6.9920375 C40.441275,6.3497875 37.732275,6.0032875 34.941025,6.0032875 C32.17165,6.0032875 29.48365,6.3454125 26.910275,6.9780375 C25.1244,2.8725375 21.037275,-8.75e-05 16.2729,-8.75e-05 C9.8679,-8.75e-05 4.67565,5.1930375 4.67565,11.5989125 C4.67565,14.7322875 5.922525,17.5699125 7.9429,19.6576625 C3.841775,25.2200375 1.414525,32.0905375 1.414525,39.5297875 C1.414525,58.0465375 16.42515,73.0562875 34.941025,73.0562875 C53.457775,73.0562875 68.469275,58.0465375 68.469275,39.5297875 C68.469275,32.1080375 66.052525,25.2524125 61.969775,19.6979125 Z" id="Stroke-7" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M22.8554375,8.2571125 C21.6348125,5.8587375 19.1498125,4.2111125 16.2745625,4.2111125 C12.1935625,4.2111125 8.8860625,7.5186125 8.8860625,11.5987375 C8.8860625,13.4379875 9.5641875,15.1162375 10.6754375,16.4094875 C14.0555625,12.8622375 18.2039375,10.0569875 22.8554375,8.2571125" id="Fill-9" fill="#FFFFFF"></path>
                                <path d="M59.24135,16.444925 C60.37185,15.1473 61.062225,13.45505 61.062225,11.599175 C61.062225,7.51905 57.7556,4.212425 53.675475,4.212425 C50.791475,4.212425 48.2986,5.8688 47.08235,8.27855 C51.727725,10.08455 55.8691,12.894175 59.24135,16.444925" id="Fill-11" fill="#FFFFFF"></path>
                                <path d="M23.78425,45.9787125 C23.78425,39.8169625 28.779625,34.8215875 34.941375,34.8215875 C41.103125,34.8215875 46.0985,39.8169625 46.0985,45.9787125 C46.0985,52.1404625 41.103125,57.1358375 34.941375,57.1358375 C28.779625,57.1358375 23.78425,52.1404625 23.78425,45.9787125" id="Fill-13" fill="#FFFFFF"></path>
                                <g id="Group-18" transform="translate(0.000000, 27.556375)">
                                    <path d="M11.0207125,11.9735 C12.0322125,16.415875 18.0154625,20.579125 20.8207125,21.835625 C24.9113375,23.667 27.9755875,26.13975 27.9755875,30.758875 C27.9755875,34.971125 25.4599625,38.826375 18.7452125,38.826375 C11.4809625,38.826375 8.74999996e-05,30.87525 8.74999996e-05,16.9365 C8.74999996e-05,11.381125 0.4830875,7.525 3.2708375,0.816375" id="Fill-15" fill="#FFF53E"></path>
                                    <path d="M11.0207125,11.9735 C12.0322125,16.415875 18.0154625,20.579125 20.8207125,21.835625 C24.9113375,23.667 27.9755875,26.13975 27.9755875,30.758875 C27.9755875,34.971125 25.4599625,38.826375 18.7452125,38.826375 C11.4809625,38.826375 8.74999998e-05,30.87525 8.74999998e-05,16.9365 C8.74999998e-05,11.381125 0.4830875,7.525 3.2708375,0.816375" id="Stroke-17" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                                <g id="Group-22" transform="translate(41.125000, 27.556375)">
                                    <path d="M17.737825,11.9735 C16.7272,16.415875 10.74395,20.579125 7.937825,21.835625 C3.8472,23.667 0.78295,26.13975 0.78295,30.758875 C0.78295,34.971125 3.2977,38.826375 10.01245,38.826375 C17.27845,38.826375 28.759325,30.87525 28.759325,16.9365 C28.759325,11.381125 28.27545,7.525 25.4877,0.816375" id="Fill-19" fill="#FFF53E"></path>
                                    <path d="M17.737825,11.9735 C16.7272,16.415875 10.74395,20.579125 7.937825,21.835625 C3.8472,23.667 0.78295,26.13975 0.78295,30.758875 C0.78295,34.971125 3.2977,38.826375 10.01245,38.826375 C17.27845,38.826375 28.759325,30.87525 28.759325,16.9365 C28.759325,11.381125 28.27545,7.525 25.4877,0.816375" id="Stroke-21" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                                <path d="M24.1457125,27.6003 C24.1457125,25.10305 25.3803375,23.079175 26.9037125,23.079175 C28.4270875,23.079175 29.6608375,25.10305 29.6608375,27.6003 C29.6608375,30.09755 28.4270875,32.121425 26.9037125,32.121425 C25.3803375,32.121425 24.1457125,30.09755 24.1457125,27.6003" id="Fill-23" fill="#000000"></path>
                                <path d="M40.2229625,27.6003 C40.2229625,25.10305 41.4575875,23.079175 42.9809625,23.079175 C44.5043375,23.079175 45.7389625,25.10305 45.7389625,27.6003 C45.7389625,30.09755 44.5043375,32.121425 42.9809625,32.121425 C41.4575875,32.121425 40.2229625,30.09755 40.2229625,27.6003" id="Fill-25" fill="#000000"></path>
                                <line x1="40.2229625" y1="45.9787125" x2="34.1303375" y2="47.3778375" id="Stroke-27" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></line>
                                <path d="M31.476375,36.057175 C31.476375,34.14355 33.02775,32.592175 34.941375,32.592175 C36.855,32.592175 38.406375,34.14355 38.406375,36.057175 C38.406375,37.971675 36.855,39.522175 34.941375,39.522175 C33.02775,39.522175 31.476375,37.971675 31.476375,36.057175" id="Fill-29" fill="#000000"></path>
                                <path d="M14.1105125,35.53935 C14.1105125,38.2816 16.3330125,40.5041 19.0752625,40.5041 C21.8175125,40.5041 24.0400125,38.2816 24.0400125,35.53935 C24.0400125,32.7971 21.8175125,30.5746 19.0752625,30.5746 C16.3330125,30.5746 14.1105125,32.7971 14.1105125,35.53935" id="Fill-31" fill="#F06C4E" filter="url(#filter-1)"></path>
                                <path d="M45.8437875,35.53935 C45.8437875,38.2816 48.0671625,40.5041 50.8085375,40.5041 C53.5507875,40.5041 55.7732875,38.2816 55.7732875,35.53935 C55.7732875,32.7971 53.5507875,30.5746 50.8085375,30.5746 C48.0671625,30.5746 45.8437875,32.7971 45.8437875,35.53935" id="Fill-33" fill="#F06C4E" filter="url(#filter-2)"></path>
                                <path d="M40.14605,17.3079375 C37.271675,17.3079375 34.94155,14.9778125 34.94155,12.1034375 C34.94155,14.9778125 32.611425,17.3079375 29.73705,17.3079375 C32.611425,17.3079375 34.94155,19.6380625 34.94155,22.5124375 C34.94155,19.6380625 37.271675,17.3079375 40.14605,17.3079375" id="Fill-35" fill="#F1A6C9"></path>
                                <path d="M40.14605,17.3079375 C37.271675,17.3079375 34.94155,14.9778125 34.94155,12.1034375 C34.94155,14.9778125 32.611425,17.3079375 29.73705,17.3079375 C32.611425,17.3079375 34.94155,19.6380625 34.94155,22.5124375 C34.94155,19.6380625 37.271675,17.3079375 40.14605,17.3079375 Z" id="Stroke-37" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>