<?xml version="1.0" encoding="UTF-8"?>
<svg width="58px" height="50px" viewBox="0 0 58 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>vectors</title>
    <g id="768" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="Momiji's-Beauty-Test-03" transform="translate(-275.000000, -388.000000)" stroke="#262626" stroke-width="2">
            <g id="Content">
                <g id="Respuestas" transform="translate(79.000000, 348.000000)">
                    <g id="Respuesta-2" transform="translate(160.000000, 0.000000)">
                        <g id="vectors">
                            <g transform="translate(37.000000, 41.000000)">
                                <path d="M29.150592,43.123296 C29.150592,45.817056 31.333632,48.000096 34.026432,48.000096 C36.720192,48.000096 38.903232,45.817056 38.903232,43.123296 C38.903232,40.429536 36.720192,38.247456 34.026432,38.247456 C31.333632,38.247456 29.150592,40.429536 29.150592,43.123296 Z" id="Stroke-1"></path>
                                <path d="M51.973056,31.060512 C51.973056,32.026272 52.755456,32.808672 53.721216,32.808672 C54.686976,32.808672 55.470336,32.026272 55.470336,31.060512 C55.470336,30.094752 54.686976,29.312352 53.721216,29.312352 C52.755456,29.312352 51.973056,30.094752 51.973056,31.060512 Z" id="Stroke-3"></path>
                                <path d="M9.235296,5.641152 C9.235296,8.334912 11.418336,10.517952 14.112096,10.517952 C16.805856,10.517952 18.987936,8.334912 18.987936,5.641152 C18.987936,2.948352 16.805856,0.765312 14.112096,0.765312 C11.418336,0.765312 9.235296,2.948352 9.235296,5.641152 Z" id="Stroke-5"></path>
                                <line x1="21.546528" y1="18.414528" x2="0.000288" y2="30.745728" id="Stroke-7"></line>
                                <line x1="53.721504" y1="0.000192" x2="35.343264" y2="10.517952" id="Stroke-9"></line>
                                <line x1="53.721504" y1="14.440512" x2="-9.6e-05" y2="45.186432" id="Stroke-11"></line>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>