<?xml version="1.0" encoding="UTF-8"?>
<svg width="27px" height="26px" viewBox="0 0 27 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Group 3</title>
    <g id="768" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="Momiji's-Beauty-Test-06" transform="translate(-609.000000, -330.000000)" stroke="#262626" stroke-width="2">
            <g id="Content">
                <g id="Respuestas" transform="translate(79.000000, 303.000000)">
                    <g id="Respuesta-4" transform="translate(476.999700, 0.000000)">
                        <g id="vectors" transform="translate(26.000000, 0.000000)">
                            <g id="Group-3" transform="translate(28.000000, 28.000000)">
                                <path d="M14.66096,5.1696 C17.51616,5.1696 19.83056,7.484 19.83056,10.3392 C19.83056,7.484 22.14496,5.1696 25.00016,5.1696 C22.14496,5.1696 19.83056,2.8544 19.83056,3.55271368e-15 C19.83056,2.8544 17.51616,5.1696 14.66096,5.1696 Z" id="Stroke-1"></path>
                                <path d="M0,16 C0,11.5824 3.5824,8 8,8 C12.4184,8 16,11.5824 16,16 C16,20.4176 12.4184,24 8,24 C3.5824,24 0,20.4176 0,16 Z" id="Stroke-3"></path>
                                <line x1="24" y1="16" x2="0" y2="16" id="Stroke-5"></line>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>