<?xml version="1.0" encoding="UTF-8"?>
<svg width="26px" height="26px" viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Group 5</title>
    <g id="768" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="Momiji's-Beauty-Test-06" transform="translate(-374.000000, -476.000000)" stroke="#262626" stroke-width="2">
            <g id="Content">
                <g id="Respuestas" transform="translate(79.000000, 303.000000)">
                    <g id="Respuesta-6" transform="translate(241.999500, 146.000100)">
                        <g id="vectors" transform="translate(26.000000, 0.000000)">
                            <g id="Group-5" transform="translate(28.000000, 28.000000)">
                                <line x1="0" y1="16.6156645" x2="16.6157419" y2="16.6156645" id="Stroke-1"></line>
                                <line x1="0" y1="10.0056" x2="16.6157419" y2="10.0056" id="Stroke-3"></line>
                                <line x1="0" y1="23.2258065" x2="16.6157419" y2="23.2258065" id="Stroke-5"></line>
                                <line x1="16.6156645" y1="-5.68434189e-14" x2="16.6156645" y2="16.6157419" id="Stroke-7"></line>
                                <line x1="23.2258065" y1="-5.68434189e-14" x2="23.2258065" y2="16.6157419" id="Stroke-9"></line>
                                <line x1="10.0055226" y1="-5.68434189e-14" x2="10.0055226" y2="16.6157419" id="Stroke-11"></line>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>