<?xml version="1.0" encoding="UTF-8"?>
<svg width="26px" height="26px" viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Group 2</title>
    <g id="768" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="Momiji's-Beauty-Test-06" transform="translate(-450.000000, -330.000000)" stroke="#262626" stroke-width="2">
            <g id="Content">
                <g id="Respuestas" transform="translate(79.000000, 303.000000)">
                    <g id="Respuesta-3" transform="translate(318.000600, 0.000600)">
                        <g id="vectors" transform="translate(26.000000, 0.000000)">
                            <g id="Group-2" transform="translate(28.000000, 28.000000)">
                                <path d="M11.2552,18.37176 C11.2552,15.26296 8.736,12.74376 5.6272,12.74376 C2.5192,12.74376 0,15.26296 0,18.37176 C0,21.47976 2.5192,23.99976 5.6272,23.99976 C8.736,23.99976 11.2552,21.47976 11.2552,18.37176 Z" id="Stroke-1"></path>
                                <path d="M23.99976,5.6272 C23.99976,2.5192 21.47976,0 18.37176,0 C15.26296,0 12.74376,2.5192 12.74376,5.6272 C12.74376,8.736 15.26296,11.2552 18.37176,11.2552 C21.47976,11.2552 23.99976,8.736 23.99976,5.6272 Z" id="Stroke-3"></path>
                                <path d="M6.41456,5.6272 C6.41456,5.1928 6.06256,4.84 5.62736,4.84 C5.19296,4.84 4.83936,5.1928 4.83936,5.6272 C4.83936,6.0624 5.19296,6.4144 5.62736,6.4144 C6.06256,6.4144 6.41456,6.0624 6.41456,5.6272 Z" id="Stroke-5"></path>
                                <path d="M19.15912,18.37176 C19.15912,17.93656 18.80712,17.58456 18.37192,17.58456 C17.93672,17.58456 17.58392,17.93656 17.58392,18.37176 C17.58392,18.80696 17.93672,19.15896 18.37192,19.15896 C18.80712,19.15896 19.15912,18.80696 19.15912,18.37176 Z" id="Stroke-7"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>