<?xml version="1.0" encoding="UTF-8"?>
<svg width="26px" height="26px" viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Group</title>
    <g id="768" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="Momiji's-Beauty-Test-06" transform="translate(-291.000000, -330.000000)" stroke="#262626" stroke-width="2">
            <g id="Content">
                <g id="Respuestas" transform="translate(79.000000, 303.000000)">
                    <g id="Respuesta-2" transform="translate(158.999600, 0.000100)">
                        <g id="vectors" transform="translate(26.000000, 0.000000)">
                            <g id="Group" transform="translate(28.000000, 28.000000)">
                                <path d="M19.42808,14.444 C19.29768,13.9296 19.11608,13.4368 18.88808,12.9696 L18.62888,12.4808 L12.00008,0 L5.37208,12.4808 L5.11128,12.9704 C4.88328,13.4368 4.70328,13.9296 4.57288,14.444 C4.41928,15.048 4.32968,15.6776 4.32968,16.3288 C4.32968,20.5656 7.76408,24 12.00008,24 C16.23688,24 19.67128,20.5656 19.67128,16.3288 C19.67128,15.6776 19.58088,15.048 19.42808,14.444 Z" id="Stroke-1"></path>
                                <path d="M0,12.89168 C3.9984,12.89168 3.9984,16.73168 7.9968,16.73168 C11.9976,16.73168 11.9976,12.89168 15.9984,12.89168 C19.9992,12.89168 19.9992,16.73168 24,16.73168" id="Stroke-3"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>