<?xml version="1.0" encoding="UTF-8"?>
<svg width="31px" height="26px" viewBox="0 0 31 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Group 4</title>
    <g id="768" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="Momiji's-Beauty-Test-06" transform="translate(-213.000000, -476.000000)" stroke="#262626" stroke-width="2">
            <g id="Content">
                <g id="Respuestas" transform="translate(79.000000, 303.000000)">
                    <g id="Respuesta-5" transform="translate(83.000600, 145.999600)">
                        <g id="vectors" transform="translate(26.000000, 0.000000)">
                            <g id="Group-4" transform="translate(26.000000, 28.000000)">
                                <path d="M14.1968,18.9832 C20.6024,18.9832 26.0864,15.0624 28.3944,9.492 C26.0864,3.9216 20.6024,0 14.1968,0 C7.792,0 2.3072,3.9216 -1.8189894e-12,9.492 C2.3072,15.0624 7.792,18.9832 14.1968,18.9832 Z" id="Stroke-1"></path>
                                <path d="M14.1968,24.0004 C19.72,24.0004 24.728,21.802 28.396,18.234" id="Stroke-3"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>