<?xml version="1.0" encoding="UTF-8"?>
<svg width="26px" height="26px" viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Group 6</title>
    <g id="768" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="Momiji's-Beauty-Test-06" transform="translate(-533.000000, -476.000000)" stroke="#262626" stroke-width="2">
            <g id="Content">
                <g id="Respuestas" transform="translate(79.000000, 303.000000)">
                    <g id="Respuesta-7" transform="translate(401.000600, 145.999700)">
                        <g id="vectors" transform="translate(26.000000, 0.000000)">
                            <g id="Group-6" transform="translate(28.000000, 28.000000)">
                                <path d="M5.82890323,11.6075613 L5.80645161,11.6075613 C2.59896774,11.6075613 0,14.206529 0,17.4140129 L0,17.4294968 C0,20.6354323 2.59896774,23.2359484 5.80645161,23.2359484 L7.03432258,23.2359484 C15.9948387,23.2359484 23.2606452,15.9747871 23.2660645,7.01349677 L23.2668403,5.81969032 C23.2691613,2.61220645 20.6694194,0.0101419355 17.4603871,0.0101419355 L17.4418065,0.0101419355 C14.2374194,0.0101419355 11.64,2.60446452 11.6353548,5.80885161 C11.6307097,9.01169032 9.03329032,11.6075613 5.82890323,11.6075613 Z" id="Stroke-1"></path>
                                <path d="M3.06255484,6.06503226 C4.73713548,6.06503226 6.09507097,4.70709677 6.09507097,3.03251613 C6.09507097,1.35793548 4.73713548,0 3.06255484,0 C1.38797419,0 0.0300387097,1.35793548 0.0300387097,3.03251613 C0.0300387097,4.70709677 1.38797419,6.06503226 3.06255484,6.06503226 Z" id="Stroke-3"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>