{%- comment -%}
Filtros laterales para desktop y tablet
{%- endcomment -%}
<div class="filter accordions__container">
    
    <a class="accordion">Rutina</a>

    <ul class="list-unstyled panel">
        <li><a href="products.html">Limpiadores</a></li>
        <li><a href="products.html">Exfoliadores</a></li>
        <li><a href="products.html">Toners</a></li>
        <li><a href="products.html">Esencias</a></li>
        <li><a href="products.html">Tratamientos</a></li>
        <li><a href="products.html">Mascarillas</a></li>
        <li><a href="products.html">Crema para ojos</a></li>
        <li><a href="products.html">Humectantes </a></li>
        <li><a href="products.html">Protector solar</a></li>
    </ul>

    <a class="accordion">Tipo de piel</a>

    <ul class="list-unstyled panel">
        <li><a href="products.html">Limpiadores</a></li>
        <li><a href="products.html">Exfoliadores</a></li>
        <li><a href="products.html">Toners</a></li>
    </ul>

    <a class="accordion">Soluciones</a>

    <ul class="list-unstyled panel">
        <li><a href="products.html">Limpiadores</a></li>
        <li><a href="products.html">Exfoliadores</a></li>
        <li><a href="products.html">Toners</a></li>
    </ul>

</div>
{%- comment -%}
Filtros laterales para desktop y tablet - END
{%- endcomment -%}