<div class="modal" id="modal-user" aria-hidden="true">
    <div class="modal--overlay"  data-micromodal-close>
        <div class="drawer-module user-module">
            <div class="header__cuenta d-none d-md-block">
                {% render 'header-account' %}
            </div>
        </div>
    </div>
</div>
