<div class="modal" id="modal-search" aria-hidden="true">
  <div class="modal--overlay"  data-micromodal-close>
      <div class="drawer-module search-module">
          <div class="close-btn" id="close" data-micromodal-close>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-md-10 mx-auto">
                      <h1>Hola momiji</h1>
                      <div class="header__cuenta d-none d-md-block">
                        {% render 'header-account' %}
                      </div>
                  </div>
                  <!-- <div class="col-md-7 mx-auto">
                      <div class="search-suggestions text-center">
                      <b>Búsquedas más populares</b> 
                          <ul class="suggestion-items list-unstyled">
                              {% for product in collections.bestsellers.products | limit: 3 %}
                              <li>{{ product.title }}</li>
                              {% endfor %}
                          </ul>
                      </div> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>