<div class="modal" id="modal-user" aria-hidden="true">
    <div class="modal--overlay"  data-micromodal-close>
        <div class="drawer-module user-module">
            <!-- <div class="container"> -->
                <!-- <div class="row"> -->
                    <!-- <div class="col-md-10 mx-auto"> -->
                            <!-- <div class="close-btn" id="close" data-micromodal-close></div> -->
                            <div class="header__cuenta d-none d-md-block">
                                {% render 'header-account' %}
                            </div>
                    <!-- </div> -->
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>
