.product {
    position: relative;

    .product__detail--name {
        // border-top: 0px solid #0a0a0a;
        // border-bottom: 0px solid #0a0a0a;
    }
}

.color-swatches {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            margin: 0 5px 0 0;
            display: inline-block;
            label {
                cursor: pointer;
            }
        }
    }

    input {
        display: none;
    }

    input[type="radio"]:checked + .swatch {
        box-shadow: inset 0 0 0 2px black;
        box-sizing: border-box;
    }

    .swatch {
        display: inline-block;
        vertical-align: middle;
        height: 30px;
        width: 30px;
        margin: 0 0px 0 0;
        border-radius: 50%;
        transition: box-shadow 0.1s ease;
    }
}

.section-product-info {
    .list-icon {
        display: grid;
        grid-template-columns: repeat(5, 60px);
        grid-template-rows: auto;
        grid-row-gap: 15px;
        grid-column-gap: 15px;

        @media (max-width: 767.98px) {
            grid-template-columns: repeat(4, 60px);
        }

        li {
            margin-right: 15px;
        }
    }

    .list-star {
        li {
            display: flex;
            margin-top: 20px;
            &:first-child {
                margin-top: 0;
            }

            &::before {
                content: "";
                display: inline-block;
                position: relative;
                background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25 12.5C6.25 9.04853 3.45147 6.25 0 6.25C3.45147 6.25 6.25 3.45147 6.25 0C6.25 3.45147 9.04706 6.25 12.5 6.25C9.04706 6.25 6.25 9.04853 6.25 12.5Z' fill='%23F06C4E'/%3E%3C/svg%3E");
                width: 13px;
                height: 13px;
                background-size: contain;
                margin-top: 4px;
                margin-right: 8px;
            }
        }
    }

    .video-wrap {
        overflow: hidden;
        border-radius: 10px;
    }

    .list-numbers {
        list-style: none;
        counter-reset: number-counter;
        li {
            display: flex;
            counter-increment: number-counter;
            margin-top: 20px;
            &:first-child {
                margin-top: 0;
            }

            &::before {
                display: block;
                position: relative;
                flex-shrink: 0;
                content: counter(number-counter);
                font-family: "GT Walsheim", sans-serif;
                font-size: 12px;
                color: #0a0a0a;
                letter-spacing: 0.2px;
                text-align: center;
                line-height: 20px;
                background-color: #f3e4f3;
                height: 19px;
                width: 19px;
                border-radius: 50%;
                margin-right: 8px;
            }
        }
    }

    .swiper-info {
        .swiper-pagination {
            width: auto;
            left: 50%;
            transform: translateX(-50%);
            .swiper-pagination-bullet {
                line-height: 18px;
            }
        }
    }

    .sticky-column {
        @media (min-width: 992px) {
            position: sticky;
            top: 60px;
            // padding-bottom: 100px;

        }
    }

    .sticker-sundae {
        user-select: none;
        position: absolute;
        top: 60%;
        left: -100px;
        z-index: 9;
        img {
            width: 257px;
            height: 258px;
            object-fit: contain;
        }
    }
}

.section-image-slider {
    .sticker-sundae {
        user-select: none;
        position: absolute;
        top: -100px;
        right: 0px;
        z-index: 9;
        @media (max-width: 991.98px) {
            top: 30px;
        }
        img {
            width: 229px;
            height: 229px;
            object-fit: contain;
            @media (max-width: 991.98px) {
                width: 110px;
                height: 110px;
            }
        }
    }
}

.section-tono {
    .sticker-sundae {
        user-select: none;
        position: absolute;
        top: -100px;
        right: 0px;
        z-index: 9;
        @media (max-width: 991.98px) {
            top: 65px;
        }
        img {
            width: 229px;
            height: 229px;
            object-fit: contain;
            @media (max-width: 991.98px) {
                width: 110px;
                height: 110px;
            }
        }

        &.sundae-sundae {
            top: unset;
            right: unset;
            left: 0;
            bottom: 100px;

            @media (max-width: 991.98px) {
                left: 50px;
                bottom: 30px;
            }

            @media (max-width: 767.98px) {
                left: -30px;
                bottom: 10px;
            }
        }
    }

    input[name="slider"] {
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto;
        display: none;
    }

    .slider-wrapper {
        label {
            cursor: pointer;
            z-index: 1;
            position: relative;
        }
        input:checked {
            & + label {
                &::after {
                    content: "";
                    display: block;
                    width: 14px;
                    height: 14px;
                    background-color: #fff;
                    position: absolute;
                    bottom: -21px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 1;
                    border-radius: 50%;
                }
            }
        }
    }

    .gradient-slider {
        width: 100%;
        background: linear-gradient(90deg, #ffdcc6 0%, #ebb287 25%, #e6975f 50%, #d4773e 75%, #c96228 100%);
        height: 18px;
        border-radius: 14px;
        position: absolute;
        left: 0;
        top: 25px;
    }

    .swiper-tono {
        figure {
            width: 374px;
            color: white;
            position: relative;

            @media (max-width: 991.98px) {
                width: 285px;
            }
            @media (max-width: 767.98px) {
                width: 177px;
            }

            img {
                border-radius: 10px;
                border: 4px solid #262626;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            figcaption {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                padding-bottom: 10px;
            }
        }

        .swiper-slide {
            cursor: pointer;

            &:first-child {
                z-index: 4;
            }
            &:nth-child(2) {
                z-index: 3;

                figure {
                    transform: rotate(7deg);
                    margin-top: 80px;
                }
            }
            &:nth-child(3) {
                z-index: 2;
                figure {
                    transform: rotate(-14deg);
                    margin-top: 40px;
                }
            }
            &:nth-child(4) {
                z-index: 1;
                figure {
                    transform: rotate(-4deg);
                    margin-top: 100px;
                }
            }
            &.active {
                z-index: 9;
            }
        }
    }
}

.product__slider {
    .slider-thumbs {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: .6;
        }

        .swiper-slide-thumb-active{
            img{
                opacity: 1;
            }
        }
    }
    .slider-top {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: 1;
        }
    }
}
