    <section class="section__principal">
    <div class="container">
        <div class="row">
        <div class="col-md-10 mx-md-auto col-lg-6">
            <div class="img-container"><img data-src="{{ section.settings.foto404 | img_url: '540x' }}" alt="Contactanos" class="lazyload"></div>
        </div>
        <div class="col-md-11 mx-md-auto col-lg-6 sticker3">
            <div class="col-md-12 col-lg-10">
                <h2>{{ 'general.404.title' | t }}</h2>
                <p>{{ 'general.404.subtext_html' | t }}</p>
                <a href="/pages/preguntas-frecuentes" class="link--orange">Visita nuestra sección de FAQ</a>
            </div>
        </div>
        </div>
    </div>
    
    </section>

{% schema %}
    {
        "name": "Foto de 404",
        "settings": [
            {
                "type": "image_picker",
                "id": "foto404",
                "label": "Foto de 404"
            }
        ]
    }
{% endschema %}