<section class="section__spacers">
  <div class="container">
    <div class="row row-mobile no-gutters">

      {%- assign collection = collections[section.settings.collection] -%}
      {%- assign product_limit = section.settings.conteo_productos -%}

      <div class="section__title col-12">
        <h2>{{ section.settings.title }}</h2>
        <a href="{{ section.settings.boton_link }}" class="btn__main">{{ section.settings.boton_texto }}</a>
      </div>

    </div>
    <div class="row">
      <div class="products__slider slider col-12">
        <div class="swiper-container">
            <div class="swiper-wrapper row row-mobile">

              {% for product in collection.products limit: product_limit  %}
              <div class="swiper-slide col-12 col-md-5 col-lg-5 col-xl-3">
                {% include 'grid-item' %}
              </div>
              {% endfor %}
              
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Colección de Productos",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Título de la Colección"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Colección de Productos"
      },
    {
      "type": "text",
      "id": "boton_texto",
      "label": "Button label",
      "default": "Texto del botón"
    },
    {
      "type": "url",
      "id": "boton_link",
      "label": "Button link"
    },
    {
      "type": "range",
      "id": "conteo_productos",
      "label": "Cantidad de productos",
      "min": 4,
      "max": 12,
      "step": 1,
      "default": 6
    }
    ],
    "presets": [
      {
        "name": "Colección de Productos",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
