<section class="home__instagram bg-purple">
        <div class="container-fluid p-0">        
          <div class="row no-gutters">
            <div class="col-md-12 col-lg-6 order-lg-1 order-2">
              <div class="row no-gutters app-instagram-feed">
              {% include 'instagram' %} 
                <!-- <figure class="col-6 col-md-4 col-lg-6 img-container">
                  <img src="img/instagram.png" alt="Ig">
                  <figcaption><div class="btn__wishlist"></div><p>3,400 likes</p><span>Sept 22</span></figcaption>
                </figure>
                <figure class="col-6 col-md-4 col-lg-6 img-container">
                  <img src="img/instagram.png" alt="Ig">
                  <figcaption><div class="btn__wishlist"></div><p>3,400 likes</p><span>Sept 22</span></figcaption>
                </figure>
                <figure class="col-6 col-md-4 col-lg-6 img-container">
                  <img src="img/instagram.png" alt="Ig">
                  <figcaption><div class="btn__wishlist"></div><p>3,400 likes</p><span>Sept 22</span></figcaption>
                </figure>
                <figure class="col-6 col-md-4 col-lg-6 img-container d-md-none d-lg-block">
                  <img src="img/instagram.png" alt="Ig">
                  <figcaption><div class="btn__wishlist"></div><p>3,400 likes</p><span>Sept 22</span></figcaption>
                </figure> -->
              </div>
            </div>

            <div class="col-md-12 col-lg-6 instagram--container order-lg-2  order-1">
              <div class="sticker2"></div>
              <h1>Tu piel primero.</h1>
              <div class="container--info">
                <h2 class="text-link">Skincare</h2>
                <h3>Tips para que tu piel este saludable</h3>
                <p>A todas nos ha pasado que después de un largo día solo queremos un momento de tranquilidad y paz en la comodidad de nuestra cama, con una…. <a class="a__more" href="/">Leer más</a></p>
                <a href="/" class="btn__main">Visita momiji talks</a>
              </div>
            </div>
          </div>

          {%- comment -%}
          https://www.winwaed.com/blog/2019/02/26/how-to-show-the-latest-wordpress-posts-in-an-external-page/
          https://www.beacontechnologies.com/blog/2013/01/how-to-pull-wordpress-posts-into-external-website/
          {%- endcomment -%}

        </div>
      </section>

{% schema %}
  {
    "name": "Instagram (index)",
    "settings": [
      {
        "id": "show_instagram",
        "type": "checkbox",
        "label": "Show instagram feed",
        "default": true
      },
      {
        "id": "instagram_access_token",
        "type": "text",
        "label": "Instagram access token"
      },
      {
        "id": "instagram_photos_amount",
        "type": "text",
        "label": "Amount of Instagram photos to get",
        "default": "7"
      }
    ],
    "presets": [
      {
        "name": "Instagram gallery",
        "category": "Social"
      }
    ]
  }
{% endschema %}