<section class="home__instagram bg-purple">
        <div class="container-fluid p-0">        
          <div class="row no-gutters">
            <div class="col-md-12 col-lg-6 order-lg-1 order-2">
              <div class="row no-gutters app-instagram-feed">
              {% comment %} Aquí se inyecta la app de Instagram con una class {% endcomment %}
              {% comment %} a futuro podemos usar este generador de widget para instagram https://lightwidget.com/add-on/widget-upgrade {% endcomment %}
              </div>
            </div>

            {% comment %} sección de blog {% endcomment %}
            <div class="col-md-12 col-lg-6 instagram--container order-lg-2  order-1">
              <div class="sticker2"></div>
              {% include 'recent-blogpost' %}
            </div>
          </div>
        </div>
      </section>

{% schema %}
  {
    "name": "Instagram y Blog",
    "settings": [
      {
        "type": "header",
        "content": "Instagram y Blog"
      },
      {
        "type": "paragraph",
        "content": "A futuro: https://lightwidget.com/add-on/widget-upgrade"
      }
    ],
    "presets": [
      {
        "name": "Instagram y Blog",
        "category": "Social"
      }
    ]
  }
{% endschema %}