<section class="home__instagram bg-purple">
        <div class="container-fluid p-0">        
          <div class="row no-gutters">
            <div class="col-md-12 col-lg-6 order-lg-1 order-2">
              <div class="row no-gutters app-instagram-feed">
                <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
                <iframe src="https://cdn.lightwidget.com/widgets/7526839d50cf5673855f87b09a903fa4.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
              </div>
            </div>

            <div class="col-md-12 col-lg-6 instagram--container order-lg-2  order-1">
              <div class="sticker2"></div>
              {% include 'recent-blogpost' %}
            </div>
          </div>
        </div>
      </section>

{% schema %}
  {
    "name": "Instagram y Blog",
    "settings": [
      {
        "type": "header",
        "content": "Instagram y Blog"
      },
      {
        "type": "paragraph",
        "content": "Widget en: https://lightwidget.com/widget-info/7526839d50cf5673855f87b09a903fa4"
      }
    ],
    "presets": [
      {
        "name": "Instagram y Blog",
        "category": "Social"
      }
    ]
  }
{% endschema %}