<section class="home__instagram bg-purple">
        <div class="container-fluid p-0">        
          <div class="row no-gutters">
            <div class="col-md-12 col-lg-6 order-lg-1 order-2">
              <div class="row no-gutters app-instagram-feed">
              <!-- Aquí se inyecta la app de Instagram con una class -->
              <!-- a futuro podemos usar este generador de widget para instagram https://lightwidget.com/add-on/widget-upgrade -->
              </div>
            </div>

            <!-- sección de blog -->
            <div class="col-md-12 col-lg-6 instagram--container order-lg-2  order-1">
              <div class="sticker2"></div>
              {% include 'recent-blogpost' %}
            </div>
          </div>
        </div>
      </section>

{% schema %}
  {
    "name": "Instagram y Blog",
    "settings": [
      {
        "type": "header",
        "content": "Instagram y Blog"
      },
      {
        "type": "paragraph",
        "content": "Por el momento no hay opciones configurables en esta sección."
      }
    ],
    "presets": [
      {
        "name": "Instagram y Blog",
        "category": "Social"
      }
    ]
  }
{% endschema %}