{%- assign product = all_products[section.settings.product] -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}

{% if section.settings.show_section == true %}
  <section class="eyeshine__related">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-md-12 col-lg-6 p-0 new-product">
          <img src="{{ 'eyeshine-kit.jpg' | asset_url }}" alt="/">
        </div>
        <div class="col-md-12 col-lg-6 section__spacers align-items-center d-flex">
          <div class="col-md-10 col-lg-9 col-xl-8 mx-auto">
            <div class="related--title">
              <h3 class="text-link">Momiji beauty</h3>
              <h2 class="h2">Full Shine Kit</h2>
            </div>

            <div class="related--content mt-30"> 
              <h4>Sácale provecho a tus Eye shine</h4>
              <ul class="list-unstyled list__bullets--water split-content">
                <li>Úsalos antes de maquillarte para preparar el contorno de ojos y evitar que el makeup se craquele.</li>
                <li>Aplícalos después de una desvelada para desinflamar e iluminar la zona.</li>
                <li>Mantenlos refrigerados para potencializar su poder refrescante y desinflamante.</li>
                <li>¡Haz multimasking! Coloca eye shine debajo de tus ojos y sobre ellos aplica una Momiji Mask para un
                  tratamiento como de spa en casa.</li>
              </ul>

              <form action="/cart/add" data-productid="{{ current_variant.id }}" method="post" class="product-form" id="AddToCartForm">
                <input type="hidden" name="id" value="{{ current_variant.id }}">
                <button class="btn__agregar" type="submit">$630 <span class="color-blueop">|</span> Agregar a la bolsa</button>
                 
              </form>

              <div class="related--links"><a href="https://www.momijibeauty.com/products/momiji-pore-celaine-mask" class="color-blue">Ver pore celaine </a> <span class="color-blueop"> | </span>  <a href="https://www.momijibeauty.com/products/eye-shine-hydrogel-patches-60-piezas" class="color-blue"> ver eye shine</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
  {
    "name": "Eyeshine product 2",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_section",
        "label": "Show section",
        "default": true
      },
      {
        "id": "product",
        "type": "product",
        "label": "Product"
      }
    ],
    "presets": [
      {
        "name": "Eyeshine product 2",
        "category": "Eyeshine"
      }
    ]
  }
{% endschema %}