<section class="midabi__hero bg-gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-9 col-xl-8 sticker-midabi">
        <h1 class="noto">안녕하세요!</h1>
        <h1 class="title-midabi bigger-midabi before"><strong><span class="quotes"></span> ↓↓↓</strong><br><span class="days"></span> : <span class="hours"></span> : <span class="minutes"></span> : <span class="seconds"></span></h1>
        <h1 class="title-midabi bigger-midabi after" style="display:none">refresh now <strong>to discover</strong><br> Momiji Life!</h1>
      </div>
      <div class="col-12 hero__footer">
        <div class="row justify-content-between">
          <div class="col-12 col-md-4 col-lg-3">
            <h2 class="subtitle-midabi">18.05.2020</h2>
          </div>
          <div class="col-12 col-md-4 col-lg-3 col-xl-2 text-md-right">
            <h3 class="subtitle-midabi">boost your confidence through self-care</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
var quotes = [
      "made for you, made for everyone.",
      "the best of science and nature designed for real life.",
      "self-care is productive.",
      "boost your confidence through self-care."   
    ];

window.addEventListener('DOMContentLoaded', (event) => {
    var q = quotes[ Math.floor( Math.random() * quotes.length ) ];
    document.querySelector(".quotes").innerHTML = q;   
});

const second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

let countDown = new Date('May 18, 2020 08:00:00').getTime(),
    x = setInterval(function() {    

      let now = new Date().getTime(),
          distance = countDown - now;

      document.querySelector('.days').innerText = Math.floor(distance / (day)),
        document.querySelector('.hours').innerText = Math.floor((distance % (day)) / (hour)),
        document.querySelector('.minutes').innerText = Math.floor((distance % (hour)) / (minute)),
        document.querySelector('.seconds').innerText = Math.floor((distance % (minute)) / second);

      if (distance < 1) {
        clearInterval(x);
          function replaceCopy() {
          const before = document.querySelector('.before');
          before.remove();
          const after = document.querySelector('.after').style.display="inherit";
          }
          replaceCopy();
        }
      }, second);
</script>

{% schema %}
  {
    "name": "Momiji Life Countdown",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_section",
        "label": "Show section",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Countdown",
        "category": "Momiji Life"
      }
    ]
  }
{% endschema %}