
<div class="tabs">
  <div class="tab-body">
    <div class="active">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error neque saepe commodi blanditiis fugiat nisi aliquam ratione porro quibusdam in, eveniet accusantium cumque. Dolore officia reprehenderit perferendis quod libero omnis.</p>
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi minus exercitationem vero, id autem fugit assumenda a molestiae numquam at, quisquam cumque. Labore eligendi perspiciatis quia incidunt quaerat ut ducimus?</p>
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi minus exercitationem vero, id autem fugit assumenda a molestiae numquam at, quisquam cumque. Labore eligendi perspiciatis quia incidunt quaerat ut ducimus?</p>
    </div>
  </div>
  <div class="tab-header">
    <div class="active">
      Code
    </div>
    <div>
      About
    </div>
    <div>
      Services
    </div>
  </div>
</div>

<style>

.tabs {
  width:100%;
  height:20rem;
  background:#f5f5f5;
  padding:0px;
  overflow:hidden;
  display:flex;
  flex-flow: column nowrap;
  align-items:center;
}
.tabs .tab-header {
  height:60px;
  display:flex;
  width: 80vw;
  align-items:center;
}
.tabs .tab-header > div {
  width:calc(100% / 3);
  text-align:center;
  color:#888;
  font-weight:600;
  cursor:pointer;
  font-size:14px;
  text-transform:uppercase;
  outline:none;
}
.tabs .tab-header > div > i {
  display:block;
  margin-bottom:5px;
}
.tabs .tab-header > div.active {
  color:#0a0a0a;
  text-decoration: underline;
}
.tabs .tab-body {
  position:relative;
  height:calc(100% - 0px);
  padding:10px 5px;
  width: 80vw;
  text-align:center;
}
.tabs .tab-body > div {
  position:absolute;
  top:-200%;
  opacity:0;
  transition:opacity 500ms ease-in-out 0ms,
    transform 500ms ease-in-out 0ms;
}
.tabs .tab-body > div.active {
  top:0px;
  opacity:1;
}
.tab-body p {
  font-family: 'GT Super Display', sans-serif;
  font-size: 2.4rem;
  letter-spacing: -0.1rem;
  line-height: 2.4rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
</style>


<script>
let tabHeader = document.getElementsByClassName("tab-header")[0];
let tabBody = document.getElementsByClassName("tab-body")[0];

let tabsPane = tabHeader.getElementsByTagName("div");

for(let i=0;i<tabsPane.length;i++){
  tabsPane[i].addEventListener("click",function(){
    tabHeader.getElementsByClassName("active")[0].classList.remove("active");
    tabsPane[i].classList.add("active");
    tabBody.getElementsByClassName("active")[0].classList.remove("active");
    tabBody.getElementsByTagName("div")[i].classList.add("active");
  });
}
</script>

{% comment %}   <style>

    #press-reviews {
        padding: 60px 0 60px 0;
        background-color: #eee;
    }

    blockquote.review-text {
        padding: 0 0 60px 0;
    }

    #press-reviews .swiper-container {
      width: 100%;
      height: 100%;
    }

    #press-reviews .swiper-slide {
      text-align: center;
      font-size: 18px;
    /*  background: #fff; */

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    #press-reviews .review-text {
        font-family: 'GT Super Display', sans-serif;
        font-size: 2.4rem;
        letter-spacing: -0.1rem;
        line-height: 2.4rem;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    #press-reviews .thumbs {
        width: 80%;
    }
    #press-reviews .thumbs .swiper-slide {
        cursor: pointer;
        opacity: 0.4;
    }
    #press-reviews .thumbs .swiper-slide-thumb-active {
        text-decoration: underline;
        opacity: 1;
    }

  </style>
 {% endcomment %}
{% schema %}
{
  "name": "Reviews",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": {
        "en": "Title",
        "es": "Título"
      }
    }
  ],
  "blocks": [
    {
      "type": "select",
      "name": "Press Review",
      "limit": 3,
      "settings": [
        {
          "id": "press_logo",
          "type": "image_picker",
       	  "label": "Logo"
        },
        {
          "id": "press_logotext",
          "type": "text",
       	  "label": "Press Name"
        },
        {
          "id": "press_text",
          "type": "textarea",
       	  "label": "Review"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Reviews",
      "category": "Reviews",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
      ]
    }
  ]
}
{% endschema %}