<div class="row mb-90">
    <figure class="col-md-8">
        <div class="img-container">
            <img src="{{ 'quienesomos_optimizada.jpg' | asset_url }}" alt="Ale y Cecy Young">
        </div>
    </figure>
    <div class="col-md-4 align-self-end">
        <img src="{{ 'miffy.svg' | asset_url }}" alt="Miffy">
        <hr>
        <b>{{ section.settings.title_pie }}</b>
        <p>{{ section.settings.text_pie }}</p>
    </div>
</div>

{% schema %}
    {
        "name": "Foto y pie de foto",
        "settings": [
            {
                "type": "header",
                "content": "Foto"
            },
            {
                "type": "image_picker",
                "id": "imagen",
                "label": "Foto"
            },
            {
                "type": "header",
                "content": "Pie de foto"
            },
            {
                "type": "text",
                "id": "title_pie",
                "label": "Título pie de foto.",
                "default": "Cecy y Ale Young, Fundadoras."
            },
            {
                "type": "textarea",
                "id": "text_pie",
                "label": "Pie de foto.",
                "default": "Asia es el hotspot, nosotros el filtro, y ustedes esas personas a las que nos encanta hacer felices."
            }
        ]
    }
{% endschema %}