      <section class="main__product--related section__spacers ">
        <div class="container">
          <div class="row row-mobile no-gutters">
            <div class="section__title col-12">
              <h2>Completa tu rutina.</h2>
            </div>
          </div>

          <div class="row thumbs">
            <div class="col-md-3">
              <a href="detalle-producto.html" class="product new">
              <div class="product__container">
                <div class="product__container--main img-container"><img src="img/product--img.png" alt="Milk"></div>
                <div class="product__container--hover"><img src="img/product--img--hover.png" alt="Milk"></div> 
              </div>
              <div class="product__info">
                <div class="product__info--brand">
                  <p>Benton</p>
                  <button class="btn__wishlist"></button>
                </div>
                <div class="product__info--name">
                  <p>Ginseng Berry Eye Mask</p>
                  <span>$60.00</span>
                </div>
              </div>
              </a>
              <div class="btn__more"></div>
            </div>


            <div class="col-md-3">
              <a href="detalle-producto.html" class="product soon">
              <div class="product__container">
                <div class="product__container--main img-container"><img src="img/product--img.png" alt="Milk"></div>
                <div class="product__container--hover"><img src="img/product--img--hover.png" alt="Milk"></div> 
              </div>
              <div class="product__info">
                <div class="product__info--brand">
                  <p>Benton</p>
                  <button class="btn__wishlist"></button>
                </div>
                <div class="product__info--name">
                  <p>Ginseng Berry Eye Mask</p>
                  <span>$60.00</span>
                </div>
              </div>
              </a>
            </div>

            <div class="col-md-3">
              <a href="detalle-producto.html" class="product momi">
              <div class="product__container">
                <div class="product__container--main img-container"><img src="img/product--img.png" alt="Milk"></div>
                <div class="product__container--hover"><img src="img/product--img--hover.png" alt="Milk"></div> 
              </div>
              <div class="product__info">
                <div class="product__info--brand">
                  <p>Benton</p>
                  <button class="btn__wishlist"></button>
                </div>
                <div class="product__info--name">
                  <p>Ginseng Berry Eye Mask</p>
                  <span>$60.00</span>
                </div>
              </div>
              </a>
            </div>
            
            <div class="col-md-3">
              <a href="detalle-producto.html" class="product momi">
              <div class="product__container">
                <div class="product__container--main img-container"><img src="img/product--img.png" alt="Milk"></div>
                <div class="product__container--hover"><img src="img/product--img--hover.png" alt="Milk"></div> 
              </div>
              <div class="product__info">
                <div class="product__info--brand">
                  <p>Benton</p>
                  <button class="btn__wishlist"></button>
                </div>
                <div class="product__info--name">
                  <p>Ginseng Berry Eye Mask</p>
                  <span>$60.00</span>
                </div>
              </div>
              </a>
            </div>


          </div>
        </div>
      </section>