{%- comment -%}Rese単as a Momiji{%- endcomment -%}

<section>
    <div class="grid-container">
        <div>
            <p>Texto</p>
        </div>
        <div>Rese単a por</div>
    </div>
</section>

{% schema %}
{
"blocks": [
    {
    "type": "resenia",
    "name": "Rese単as",
    "max_blocks": 6
    "settings": [
        {
        "id": "content",
        "type": "text",
        "label": "Rese単as"
        }
    ]
    }
]
}
{% endschema %}