<section class="main__product--comments bg-blue section__spacers">
  <div class="container">
    <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>    
  </div>
</section>