      <section class="main__product--comments bg-blue section__spacers">
        <div class="container">


<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>

{%- comment -%}
          <div class="row row-mobile no-gutters">
            <div class="section__title col-12">
              <h2>Reseñas de la comunidad.</h2>
              <a href="/" class="btn__main">dejar una reseña</a>
            </div>
          </div>
          <div class="row row-mobile no-gutters">
            <div class="col-12 total--comentado sticker5">
              <p class="comments stars">✦ ✦ ✦ ✦ ✦ ✦ <b> Basado en 10 reseñas</b></p>
            </div>

            <div class="col-12 comments">
              <div class="comments--item">
                <h3>Ideal para manos secas</h3>
                <b>Sofia de Momiji Team, <b>Sep 28, 2018</b></b>
                <div class="stars"><p>✦ ✦ ✦ ✦ ✦ ✦</p></div>
                <p>Lo que me llamo la atención fue el empaque ademas tengo las manos muy secas así que constantemente necesito ponerme crema.Esta me gusto mucho no solo por el empaque sino porque es muy hidratante y no se siente grasosa, personalmente no me gustan las cremas que me dejan un velo grasoso en la piel ademas solo necesitas un poco. ; Aunque tiene un olor muy fuerte es bastante agradable y desaparece después de aplicarla, ese seria mi único "pero" el fuerte olor</p>
              </div>

              <div class="comments--item">
                <h3>Ideal para manos secas</h3>
                <b>Sofia de Momiji Team, <b>Sep 28, 2018</b></b>
                <div class="stars"><p>✦ ✦ ✦ ✦ ✦ ✦</p></div>
                <p>Lo que me llamo la atención fue el empaque ademas tengo las manos muy secas así que constantemente necesito ponerme crema.Esta me gusto mucho no solo por el empaque sino porque es muy hidratante y no se siente grasosa, personalmente no me gustan las cremas que me dejan un velo grasoso en la piel ademas solo necesitas un poco. ; Aunque tiene un olor muy fuerte es bastante agradable y desaparece después de aplicarla, ese seria mi único "pero" el fuerte olor</p>
              </div>

              <div class="comments--item">
                <h3>Ideal para manos secas</h3>
                <b>Sofia de Momiji Team, <b>Sep 28, 2018</b></b>
                <div class="stars"><p>✦ ✦ ✦ ✦ ✦ ✦</p></div>
                <p>Lo que me llamo la atención fue el empaque ademas tengo las manos muy secas así que constantemente necesito ponerme crema.Esta me gusto mucho no solo por el empaque sino porque es muy hidratante y no se siente grasosa, personalmente no me gustan las cremas que me dejan un velo grasoso en la piel ademas solo necesitas un poco. ; Aunque tiene un olor muy fuerte es bastante agradable y desaparece después de aplicarla, ese seria mi único "pero" el fuerte olor</p>
              </div>
            </div>
          </div>
{%- endcomment -%}
    
        </div>
        
      </section>