@font-face {
    font-family: 'GT Momiji Medium';
    font-weight: 500;
    font-style: normal;
    src: url('{{ "GT-Momiji-Medium.eot" | asset_url }}');
    src: 
         url('{{ "GT-Momiji-Medium.woff" | asset_url }}') format('woff'),
         url('{{ "GT-Momiji-Medium.woff2" | asset_url }}') format('woff2');
}


@font-face {
    font-family: 'GT Momiji Regular';
    font-weight: 400;
    font-style: normal;
    src: url('{{ "GT-Momiji-Regular.eot" | asset_url }}');
    src: 
         url('{{ "GT-Momiji-Regular.woff" | asset_url }}') format('woff'),
         url('{{ "GT-Momiji-Regular.woff2" | asset_url }}') format('woff2');
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('{{ "GTWalsheim.woff2" | asset_url }}') format('woff2'),
        url('{{ "GTWalsheim.woff" | asset_url }}') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Super Display';
    src: url('{{ "GTSuperDisplay-Light.woff2" | asset_url }}') format('woff2'),
        url('{{ "GTSuperDisplay-Light.woff" | asset_url }}') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT Super Text Book';
    src: url('{{ "GTSuperText-Book.woff2" | asset_url }}') format('woff2'),
        url('{{ "GTSuperText-Book.woff" | asset_url }}') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT Super Display';
    src: url('{{ "GTSuperDisplay-Regular.woff2" | asset_url }}') format('woff2'),
        url('{{ "GTSuperDisplay-Regular.woff" | asset_url }}') format('woff');
    font-weight: normal;
    font-style: normal;
}
