$main-color-orange: #F06C4E;
$main-color-pink: #FAF2FA;
$main-color-white: #F9FCFC;

$black: #0A0A0A;
$gray: #CECECE;

$pink:#FFD2D2;
$purple:#F3E4F3;
$pink-sky:#FEF9FE;
$yellow:#FFF685;
$blue-sky:#D5F3FF;


$border: 1px solid $black;;
$bezier: cubic-bezier(.445, .5, .55, .95);

// Typography Options
$font-serif           : 'GT Super Text Book', serif;
$font-title           : 'GT Momiji Medium', sans-serif;
$font-subtitle        : 'GT Super Display', sans-serif;
$font-subtitle--light : 'GT Super Display-light', sans-serif;
$font-caption         : 'GT Walsheim', sans-serif;
$font-icons           : 'GT Momiji Regular', sans-serif;


